#sidepreopen-control,
[data-region="blocks-column"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-block .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}

#sidepreopen-control {
    background-color: $primary;
    position: fixed;
    right: -40px;
    top: 300px;
    color: #fff;
    width: 70px;
    height: 64px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    padding: 8px 0 0 4px;
    cursor: pointer;

    &:before {
        font-family: 'simple-line-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e605";
    }

    &:hover {
        box-shadow: 0 0 6px $brand-primary;
    }
}

body.drawer-open-right #sidepreopen-control{
	right: 260px;
}


#sidepre-blocks{
	overflow-y: auto;
    width: 300px;
    
    .card{
        .card-body{
            padding: .5rem;
        }
    }
    //background-color: rgba(0, 0, 0, 0.5);
    
    /*#block-region-side-pre{
        .card{
            background-color: transparent;
            border: none;
            margin-bottom: 10px;
            .card-body{
                padding: 0px;
                h5{
                    display: inline-block!important;
                    width: 100%;
                    line-height: 32px;
                    color: white;
                    background-color: black;
                    padding: 16px;
                    margin-bottom: 0px;
                }
                .card-text{
                    padding: 16px;
                    background-color: #ebedee;
                }
                .unlist{
                    padding-left: 0px;
                    a{
                        color: $body-color;                        
                    }
                }
            }
        }
    }*/
}

[data-region="blocks-column"] {
    width: 280px;
    background-color: #fff;
    position: fixed;
    top: 70px;
    right: -320px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    z-index: 999;
}

body.drawer-open-right {
    #sidepreopen-control {
        right: 265px;

        &:before {
            content: "\e606";
        }
    }

    [data-region="blocks-column"] {
        right: 0;

        aside.block {
            border: none;
            border-radius: 0;
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
        }
    }
}

