// Import FontAwesome
@import "fontawesome";
@import "url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700')";
@import "url('https://fonts.googleapis.com/css?family=Viga')";

@import "url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab')";
@import "url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do')";
@import "url('https://fonts.googleapis.com/css?family=Special+Elite')";

/*@import "url('https://fonts.googleapis.com/css?family=Special+Elite|Ubuntu')";*/

@import "url('https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css')";

/* wiris */
.wirisembeddedtextinput {
    width: 80px !important;
}


/*-------------------------------*\
    HTML tags
\*-------------------------------*/
html, body {
	/*overflow-x: hidden;*/
}
body {
	font-family: $font-family-sans-serif;
    color: #373a3c;
}
h1 {
	font-family: $subheadings-font-family;
	font-size: 2.1rem;
	text-transform: uppercase;
}
h2 {
	font-family: $subheadings-font-family;
}
h3 {
	font-family: $subheadings-font-family;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1.2em;
}
h4 {
	font-size: 1.7em;
	font-weight: 500;
	margin-bottom: 1.2em;
}
h4 strong {
	position: relative;
	display: inline-block;
	padding: 14px 12px 16px;
	font-weight: 500;
	color: #fff;
	background: $secondary;
}
h5 {
	font-family: $font-family-sans-serif;
	font-size: 1.25em;
	line-height: 1.3;
	font-weight: 500;
	margin-bottom: 1.2em;
}
hr {
    border-top: 2px solid #cccccc;
}
.hr-center hr {
    width: 30%;
}
/*-------------------------------*\
    PAGE HEADER
\*-------------------------------*/
#page-header {
    .card {
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center bottom;
        padding: 0;
        margin: 0;
    }
    .page-header-headings h1 {
        font-family: $headings-font-family !important;
        font-size: 30px;
        color: white;
        max-width: 1000px;
        padding: 0;
        margin: 0;
    }
}

/*-------------------------------*\
    GÉNÉRAL
\*-------------------------------*/
figure.figure {
	display: block;
	position: relative;
	padding: 5px;
	margin: 0 0 2rem;
	border: solid 1px #a9a9aa;
	background: #fff;
	z-index: 3;
}
figure.figure-borders:before {
	display: block;
	content: '';
	position: absolute;
	top: 8%;
	left: -4%;
	width: 100%;
	height: 96%;
	border: solid 3px #fff;
	z-index: -1;
}
.figure-caption {
	font-family: $figuretexte;
	font-size: 85%;
	line-height: 1.4em;
}
.badges {
    border-left: solid 15px #fff;
    color: #fff !important;
    text-align: center;
    vertical-align: center;
    background: url("//recitfad.ca/depot/ubeo/images/bg_blue.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.title-ico h2 {
    padding-top: .5rem;
}
a.glossary {
    color: $danger;
    margin: 0;
    padding: 0;
}
h5 .glossary a  {
    color: $warning;
    margin: 0;
    padding: 0;
}
.btn-ubeo-seondary {
    h5 a {
        color: $secondary;
        border: solid 2px $secondary;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        transform: skewX(0);
    }
    h5 a strong {
        color: $secondary;
        transform: skewX(0);
    }
    h5 a:hover {
        color: #fff;
        background: $secondary;
    }
}
#banner_video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.step-wrapper {
    position: relative;
}
.step-wrapper h5 {
    width: 72px;
    height: 72px;
    line-height: 64px;
    font-size: 36px;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 2px solid #cccccc;
}
.step-wrapper h5:before {
    left: -15px;
    top: 38px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 36px - 8px);
    background-color: #cccccc;
}
.step-wrapper h5:after {
    left: calc(50% + 8px + 36px);
    top: 38px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 36px - 8px);
    background-color: #cccccc;
}
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}
.modal-body {
    position: relative;
    padding: 0;
}
.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}
.text-center ul {
    padding-left: 0;
}
.text-center ul li {
    display: inline;
    list-style-position: inside;
}
.text-center ul li::before {
    content:" ";
    display:block;
}
.text-center ul li::after {
    content:" ";
    display:block;
    clear:both;
}
.text-center ul li {
    zoom:1;
}
.list_num li {
    position: relative;
    list-style: none;
    margin-bottom: 0.3em;
}
.list_num li:before {
    display: block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    color: #ffffff;
    text-align: center;
    background: #373a3c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    left: -2.4em;
    top: -1px;
}
.list_num.list_num_color li:before {
    background: #f6a313;
}
.list_num.list_f_a ul li:before {
    font-family: "Font Awesome 5 Free";
    content: '\f0a4' !important;
    font-weight: 600;
    color: #373a3c;
    background: transparent;
}
.list_num.list_f_a.black-row li:before {
    color: #fff;
}
.list_num li:nth-child(1):before {
    content: '1';
}
.list_num li:nth-child(2):before {
    content: '2';
}
.list_num li:nth-child(3):before {
    content: '3';
}
.list_num li:nth-child(4):before {
    content: '4';
}
.list_num li:nth-child(5):before {
    content: '5';
}
.list_num li:nth-child(6):before {
    content: '6';
}
.list_num li:nth-child(7):before {
    content: '7';
}
.list_num li:nth-child(8):before {
    content: '8';
}
.list_num li:nth-child(9):before {
    content: '9';
}
.list_num li:nth-child(10):before {
    content: '10';
}
.list_num li:nth-child(12):before {
    content: '11';
}
.list_num li:nth-child(12):before {
    content: '12';
}
.list_num li:nth-child(13):before {
    content: '13';
}
.list_num li:nth-child(14):before {
    content: '14';
}
.list_num li:nth-child(15):before {
    content: '15';
}
.list_num li:nth-child(16):before {
    content: '16';
}
.ub-chapter-box {
    position: relative;
    text-align: center;
    border: solid 1px #a9a9aa;
    margin-bottom: 10px;
    background: #fff;
}
.ub-chapter-box h6 {
    color: #fff;
    padding: 12px;
    background: $secondary;
}
.ub-chapter-box span {
    display: block;
    width: 20px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: $secondary;
}
.ub-chapter-box p, .ub-chapter-box ul {
    padding: 0 15px;
    list-style-position: inside;
}
.gallery-row a {
    position: relative;
}
.gallery-row a:after {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    font-family: "Font Awesome 5 Free";
    font-size: 1.8em;
    content: '\f002';
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    pointer-events: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.gallery-row a:hover:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.ekko-lightbox-nav-overlay a {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/*-------------------------------*\
    BOUTONS COULEURS
\*-------------------------------*/
h5 a.glossary {
    margin: 0;
    padding: 0;
    color: $warning;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transform: skewX(0);
    background: transparent;
}
h5 a {
    color: $secondary;
    border: solid 2px $secondary;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    transform: skewX(0);
}
h5 a strong {
    color: $secondary;
    transform: skewX(0);
}
h5 a:hover {
    color: #fff;
    background: $secondary;
}
h5 a:hover strong, h5 a.dark-btn:hover strong, h5 a.red-btn:hover strong, h5 a.btn_fill strong, h5 a.btn_red_fill strong, h5 a.btn_yellow_fill:hover strong {
    color: #fff;
}
h5 a.dark-btn {
    color: $primary;
    border: solid 2px $primary;
}
h5 a.dark-btn strong {
    color: $primary;
}
h5 a.dark-btn:hover {
    background: $primary;
}
h5 a.red-btn {
    color: $danger;
    border: solid 2px $danger;
}
h5 a.red-btn strong {
    color: $danger;
}
h5 a.red-btn:hover {
    background: $danger;
}
h5 a.btn_fill {
    border: solid 2px $secondary;
    background: $secondary;
}
h5 a.btn_red_fill {
    border: solid 2px $danger;
    background: $danger;
}
h5 a.btn_yellow_fill {
    border: solid 2px $info;
    background: $info;
}
h5 a.btn_yellow_fill strong {
    color: $primary;
}
h5 a.btn_fill:hover,
h5 a.btn_red_fill:hover,
h5 a.btn_yellow_fill:hover {
    border: solid 2px $primary;
    background: $primary;
}
h5 a.btn_secondary_fill {
    border: solid 2px $secondary;
    background: $secondary;
}
h5 a.btn_danger_fill {
    border: solid 2px $danger;
    background: $danger;
}
h5 a.btn_info_fill {
    border: solid 2px $info;
    background: $info;
}
h5 a.btn_info_fill strong {
    color: $primary;
}
h5 a.btn_fill:hover,
h5 a.btn_red_fill:hover,
h5 a.btn_yellow_fill:hover {
    border: solid 2px $primary;
    background: $primary;
}


/*-------------------------------*\
    RANGÉES
\*-------------------------------*/
.white-row {
	position: relative;
	padding: 60px 0;
	background: #fff !important;
}
.grey-row {
	position: relative;
	padding: 60px 0;
	background: #ebedee;
}
.dark-img-row {
	position: relative;
	padding: 70px 0;
	color: #fff !important;
	background: #111 url("//recitfad.ca/depot/ubeo/images/bg_dark.jpg") center top no-repeat;
}
.color-row {
	position: relative;
	padding: 60px 0;
	color: #fff !important;
}
.diago-row, .degrade-row, .diago-row-neutral, .degrade-row-neutral {
	position: relative;
	padding: 60px 0;
	color: #fff !important;
}
.diago-row-neutral {
    background: #111111;
    background: -moz-linear-gradient(75deg, #111111 0%, #111111 50%, #222222 50%);
    background: -webkit-linear-gradient(75deg, #111111 0%, #111111 50%, #222222 50%);
    background: linear-gradient(75deg, #111111 0%, #111111 50%, #222222 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111",endColorstr="#222222",GradientType=1);
}
.degrade-row-neutral {
    background: #111111;
    background: -moz-linear-gradient(45deg,  #111111 0%, #555555 100%);
    background: -webkit-linear-gradient(45deg,  #111111 0%,#555555 100%);
    background: linear-gradient(45deg,  #111111 0%,#555555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#555555',GradientType=1 );
}
.borders-row:before, .borders-row:after {
	display: block;
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 20px;
	background: url("//recitfad.ca/depot/ubeo/images/border-top-grey.png") right center no-repeat;
	z-index: 2;
}
.borders-row:after {
	top: auto;
	bottom: -5px;
	background: url("//recitfad.ca/depot/ubeo/images/border-bottom-grey.png") left center no-repeat;
}
.black-row, .secondary-row, .primary-row, .danger-row, .success-row, .info-row, .warning-row, .light-row, .pale-row {
    position: relative;
    padding: 60px 0;
    color: #fff;
    background: #efefef;
}
.black-row {
    background: #232323;
}
.secondary-row {
    background: $secondary;
}
.primary-row {
    background: $primary;
}
.danger-row {
    background: $danger;
}
.success-row {
    background: $success;
}
.info-row {
     background: $info;
 }
.warning-row {
    background: $warning;
}
.light-row {
    background: $light;
}
.pale-row {
    color: #373a3c;
    background: #efefef;
}
.ico-gradient-row {
    margin-top: 60px;
}
.ico-gradient-row .text-box {
    padding-bottom: 20px;
    background: rgba(118,118,118,1);
    background: -moz-linear-gradient(top, rgba(118,118,118,1) 0%, rgba(118,118,118,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,118,118,1)), color-stop(100%, rgba(118,118,118,0)));
    background: -webkit-linear-gradient(top, rgba(118,118,118,1) 0%, rgba(118,118,118,0) 100%);
    background: -o-linear-gradient(top, rgba(118,118,118,1) 0%, rgba(118,118,118,0) 100%);
    background: -ms-linear-gradient(top, rgba(118,118,118,1) 0%, rgba(118,118,118,0) 100%);
    background: linear-gradient(to bottom, rgba(118,118,118,1) 0%, rgba(118,118,118,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#767676', GradientType=0 );
}
.ico-gradient-row .text-box img {
    display: block;
    position: relative;
    width: 136px;
    margin: -50px auto 1.5em auto;
}
.ico-gradient-secondary-row  {
    margin-top: 60px;
}
.ico-gradient-secondary-row .text-box-secondary {
    color: #fff;
    padding-bottom: 20px;
    background: $secondary;
    background: -moz-linear-gradient(top, $secondary 0%, $secondarypale 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $secondary), color-stop(100%, $secondarypale));
    background: -webkit-linear-gradient(top, $secondary 0%, $secondarypale 100%);
    background: -o-linear-gradient(top, $secondary 0%, $secondarypale 100%);
    background: -ms-linear-gradient(top, $secondary 0%, $secondarypale 100%);
    background: linear-gradient(to bottom, $secondary 0%, $secondarypale 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary', endColorstr='$secondarypale', GradientType=0 );
}
.ico-gradient-secondary-row .text-box-secondary img {
    display: block;
    position: relative;
    width: 136px;
    margin: -50px auto 1.5em auto;
}
.parallax-pale-row, .parallax-dark-row, .parallax-scroll-pale-row, .parallax-scroll-dark-row {
    position: relative;
    padding: 90px 0;
    background-position: center top;
    background-repeat: no-repeat;
}
.parallax-pale-row, .parallax-dark-row {
    background-attachment: fixed;
}

.parallax-pale-row .row .text_box,
.parallax-scroll-pale-row .row .text_box {
    padding-top: 12px;
    background: rgba(255, 255, 255, 0.85);
}
.parallax-dark-row .row .text_box,
.parallax-scroll-dark-row .row .text_box {
    padding-top: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.85);
}
.parallax-pale-row .container, .parallax-dark-row .container,
.parallax-scroll-pale-row .container, .parallax-dark-row .container {
    position: relative;
    z-index: 4;
}
.parallax-pale-row .video_bg, .parallax-dark-row .video_bg,
.parallax-scroll-pale-row .video_bg, .parallax-dark-row .video_bg {
    position: relative;
    z-index: 4;
}
/*------------------------------*/
.col-borders {
	box-sizing: border-box;
	padding: 5px;
	border: solid 3px $secondary;
}
.col-borders img {
	border: solid 1px #a9a9aa;
	margin-top: .5rem;
}
.col-borders img:first-child {
	margin-top: 0;
}
/*-------------------------------*\
    RANGÉES-DÉFAUT - FLIP CARDS
\*-------------------------------*/
.ubeo {
    .secondary-row {
        color: #000;
        background: $secondary;
    }
    .primary-row {
        color: #000;
        background: $primary;
    }
    .danger-row {
        color: #000;
        background: $danger;
    }
    .success-row {
        color: #000;
        background: $success;
    }
    .info-row {
        color: #000;
        background: $info;
    }
    .warning-row {
        color: #000;
        background: $warning;
    }
    .light-row {
        color: #000;
        background: $light;
    }
    .black-row.flip-cards-row {
        color: #373a3c;
    }
    .flip-cards-row {
        overflow: hidden;
    }
    .image-flip:hover .backside, .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg)!important;
        -moz-transform: rotateY(0deg)!important;
        -o-transform: rotateY(0deg)!important;
        -ms-transform: rotateY(0deg)!important;
        transform: rotateY(0deg)!important;
    }
    .image-flip:hover .frontside, .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg)!important;
        -moz-transform: rotateY(180deg)!important;
        -o-transform: rotateY(180deg)!important;
        transform: rotateY(180deg)!important;
    }
    .vertical-flip .image-flip:hover .backside, .vertical-flip .image-flip.hover .backside {
        -webkit-transform: rotateX(0deg)!important;
        -moz-transform: rotateX(0deg)!important;
        -o-transform: rotateX(0deg)!important;
        -ms-transform: rotateX(0deg)!important;
        transform: rotateX(0deg)!important;
    }
    .vertical-flip .image-flip:hover .frontside, .vertical-flip .image-flip.hover .frontside {
        -webkit-transform: rotateX(180deg)!important;
        -moz-transform: rotateX(180deg)!important;
        -o-transform: rotateX(180deg)!important;
        transform: rotateX(180deg)!important;
    }
    .image-flip {
        width: 100%;
        height: 322px;
        margin-bottom: 30px;
    }
    .ub-display-table {
        display: table;
        width: 100%;
        height: 140px;
    }
    .ub-display-cell {
        display: table-cell;
        width: 100%;
        height: 140px;
        text-align: center;
        vertical-align: middle;
    }
    .ub-display-cell img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    .card-header {
        height: 70px;
    }
    .backside .card-body {
        height: 200px;
    }
    .card-footer {
        height: 50px;
    }
    .card-body {
        height: 180px;
    }
    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }
    .frontside, .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .frontside {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
    }
    .backside {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        background: #fff;
    }
    .vertical-flip .frontside {
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
    }
    .vertical-flip .backside {
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
    .card, .card-img-top {
        border-radius: 0;
    }
    @media screen and (min-width: 576px) {
        .image-flip {
            height: 312px;
        }
        .ub-display-table, .ub-display-cell {
            height: 180px;
        }
        .card-body {
            height: 130px;
        }
        .backside .card-body {
            height: 190px;
        }
    }
    @media screen and (min-width: 768px) {
        .image-flip {
            height: 332px;
        }
        .card-body {
            height: 150px;
        }
        .backside .card-body {
            height: 210px;
        }
    }
    @media screen and (min-width: 992px) {
        .image-flip {
            height: 322px;
        }
        .card-body {
            height: 140px;
        }
        .backside .card-body {
            height: 200px;
        }
    }
    @media screen and (min-width: 1200px) {
        .image-flip {
            height: 372px;
        }
        .ub-display-table, .ub-display-cell {
            height: 240px;
        }
        .backside .card-body {
            height: 260px;
        }
        .col-xl-3 .ub-display-table, .col-xl-3 .ub-display-cell {
            height: 210px;
        }
        .col-xl-3 .frontside .card-body {
            height: 170px;
        }
    }
}




@media screen and (min-width: 576px) {
    .ub_left_50 {
        width: 50%;
        float: left;
        clear: left;
        margin: 0 15px 15px 0 !important;
    }
    .ub_right_50 {
        width: 50%;
        float: right;
        clear: right;
        margin: 0 0 15px 15px !important;
    }
    .ub_left_33 {
        width: 33%;
        float: left;
        clear: left;
        margin: 0 15px 15px 0 !important;
    }
    .ub_right_33 {
        width: 33%;
        float: right;
        clear: right;
        margin: 0 0 15px 15px !important;
    }
}




@media screen and (max-width: 767px) {
	.badges {
		border-left: none;
		border-top: solid 15px #fff;
	}
}




@media screen and (min-width: 768px) {
	h4 strong {
		padding: 14px 52px 16px 0;
	}
	h4 strong:after  {
		display: block;
		width: 60px;
		height: 100%;
		content: '';
		position: absolute;
		top: 0;
		left: -28px;
		transform: skewX(15deg);
		background: $secondary;
		z-index: 2;
	}
	h4 strong:before {
		display: block;
		width: 1000px;
		height: 100%;
		content: '';
		position: absolute;
		top: 0;
		left: -998px;
		background: $secondary;
		z-index: 2;
	}
	h4 strong:after  {
		left: auto;
		right: -28px;
	}
}




@media screen and (max-width: 991px) {
	.title-ico img {
		width: 91px;
		height: 91px;
	}
}
