

$zindex-sticky:                     1030 !default;

[data-region=right-hand-drawer] {
    display: flex;
    flex-direction: column;
    @include transition(right .2s ease-in-out);

    &.drawer {
        z-index: $zindex-sticky;
        position: fixed;
        right: 0;
        height: calc(100% - #{$top-navbar-height});
        width: $right-drawer-width;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, .08);
        padding: 0;
        visibility: visible; 
        opacity: 1;
        top: $top-navbar-height;
    }

    .closewidget {
        display: none;
    }

    &.hidden {
        display: block;
        right: $right-drawer-width * -1;
        // Turn off visibility so that nothing in the drawer can receive focus when
        // it is hidden.
        visibility: hidden;
        opacity: 0;
        // Delay visibility changes until after the slide right animation has completed.
        @include transition(right .2s ease-in-out, visibility 0s ease-in-out .2s, opacity 0s ease-in-out .2s);
    }
}

#block-region-side-pre {
    border-left: solid;
    border-image: linear-gradient(white, #e3e3e3, white) 30 stretch;
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - #{$top-navbar-height});
}
body:not(.pagelayout-secure) #sidepre-blocks {
    position: fixed;
    overflow-y: hidden;
    padding: $top-navbar-height 0;
    /* width */
    ::-webkit-scrollbar { width: 4px; height: 4px;}
    
    /* Track */
    ::-webkit-scrollbar-track { background: #f1f1f1; }

    /* Handle */
    ::-webkit-scrollbar-thumb {background: #888;}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {background: #555;}
    /* Scrollbar for Firefox */
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}
/*
@include media-breakpoint-down(sm) {
    [data-region=right-hand-drawer] {
        &.drawer {
            top: 0;
            height: 100%;
            z-index: $zindex-fixed;
        }
        .closewidget {
            display: block;
            padding: 0 0.2rem;
        }
    }
    body.drawer-open-left,
    body.drawer-open-right {
        overflow: hidden;
    }
}*/

.dir-rtl {
    [data-region=right-hand-drawer] {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .08);
    }
}

@media screen and (max-width: 2170px){
    .maincontent {
        @include vendor('transition', 'width .5s ease');
        width: 100%;
    }
}

.drawer-open-right {
    .maindrawer {
        position: fixed;
        width: $right-drawer-width;
        z-index: $zindex-sticky;
    }
    .mainpage {
        width: 100%;
    }
    .maincontent {
        width: min(calc(100vw - #{$right-drawer-width}), 1500px);
    }

    @media screen and (min-width: 2170px){
        .maincontent, #mainTopNav {
            margin: auto;
        }
    }
    @media screen and (max-width: 2170px){
        .maincontent, #mainTopNav {
            margin-right: $right-drawer-width;
            margin: unset;
        }
    }
    @media screen and (max-width: 1023px){
        .maincontent, #mainTopNav {
            margin-right: unset;
            margin: unset;
            width: 100%;
            max-width: 100vw;
        }
    }
    @media screen and (max-width: 1500px){
        #mainTopNav {
            max-width: 100vw;
        }
    }
}