/*******************
Bodys
*******************/

body{
	/*margin-left: 0px;
	margin-right: 32px;
	padding: 0px 0px 0px 0px !important;*/
    font-family: $font-family-sans-serif; 
    font-size: .9375rem;
	background-color: #efefef;
	color: $body-color;
    counter-reset: arts-tab-counter;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
	font-family: $subheadings-font-family;
}

h1 {
	font-size: 2.1rem;
    //text-transform: uppercase;
    color: $body-color;
}

h2{
    color: $body-color;
}

/*h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1.2em;
}
h4 {
	font-size: 1.7em;
	font-weight: 500;
	margin-bottom: 1.2em;
}
h4 strong {
	position: relative;
	display: inline-block;
	padding: 14px 12px 16px;
	font-weight: 500;
	color: #fff;
	background: $secondary;
}
h5 {
	font-size: 1.25em;
	line-height: 1.3;
	font-weight: 500;
	margin-bottom: 1.2em;
}*/

#page-enrol-index {
    #region-main {
        .generalbox {
            float: left;
            width: 30%;
        }
        .generalbox:last-of-type {
            width: 70%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.pagelayout-popup {
    margin-left: 0;
}
/*******************
Pages
*******************/
#page-wrapper {
    margin-top: 56px;
    background-color: #efefef;
    #page{
        max-width: $page-max-width;
        background-color: #FFF;
        margin: auto;
        /*padding: 15px;*/
    }
}

#page-admin-index.pagelayout-maintenance {
    margin-left: 0;

    #page-wrapper::after {
        min-height: inherit;
    }
}

// on veut pas que le scroll s'affiche sur le contenu de la page
body{
    #page-content{
        overflow: hidden;
    }
}

// ceci est le #page-content de la page principale (ce n'est pas un iframe genre le plug-in h5p)
body.pagelayout-course, body.pagelayout-coursecategory, body.pagelayout-incourse, body.pagelayout-admin, body.pagelayout-frontpage, body.pagelayout-mydashboard {
    #page-content{
        display: flex; flex-wrap: wrap; padding-left: 15px; padding-right: 15px;
        #region-main-box{
            width: 100%;
            background-color: #FFF;
            padding: 0px;
            #region-main > .card{
                border: none;
            }
        }
    }
}

// ceci est des #page-content des iframes (genre h5p) et le display doit être bloc pour rétablir la largeur pour l'affichage
body.pagelayout-embedded{
    #page-content{
        display: block; 
    }
}

/* recit icons */
/*.icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-right: .5rem;
}

.activity img.activityicon {
    margin-right: 6px;
    vertical-align: text-bottom;
}

img.activityicon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}*/

/*******************
Card
*******************/
/*.card {
    border-color: $card-border-color;
    border-radius: $card-border-radius;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    &.card-block,
    .card-block,
    .card-body {
        padding: 0.2rem;
    }
}
body {
    color: $headings-color;
}*/

/*******************
Headings
*******************/
/*h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    /*font-family: "Poppins", sans-serif;*/
   /* font-weight: $headings-font-weight;
}*/

/* Third party plugins compatibility. */
/* Course format grid */
#gridshadebox_content {
    top: 80px !important;
}

.popover .arrow {
    bottom: -8px;
}

/**
 * MOODLE CLASSES
 */ 
/*.chooserdialoguebody, .choosertitle {
    display: none;
}

.course-content .hidden {
    display: none;
}*/

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

