/***************************************
 * VARIABLES NAV SECTIONS
 ***************************************/
$tt-menu-color1: #EAC167;
$tt-menu-color2: #606972;
$tt-menu-color3: #ffffff;
$tt-menu-color4: #0069bf;
$menu-item-height:30px;
$max-width-responsive-m5: 992px;

#page-content{
    grid-area: page-content;
}

.page-content-wrapper{display: grid; grid-template-areas: "navsections" "page-content";}

.vertical-right{display: grid; grid-template-columns: 80% 20%; grid-template-areas: "page-content navsections";}
.vertical-left{display: grid; grid-template-columns:  20% 80%; grid-template-areas: "navsections page-content";}
@media screen and (max-width: 992px){
    .vertical-right{grid-template-columns: 100%; grid-template-areas: "navsections" "page-content";}
    .vertical-left{grid-template-columns:  100%; grid-template-areas: "navsections" "page-content";}
}

.navsections{
    grid-area: navsections;

    display: grid; 
    &.horizontal{
        grid-template-columns: auto;
        grid-template-rows: auto auto;

        .menuM5{            
            ul.navbar-nav{
                flex-wrap: wrap; 
                li.nav-item{text-align: center;}

                ul.dropdown-menu{
                    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                    
                    li.dropdown-submenu{
                        ul.dropdown-menu{
                            margin-left: 0px;
                        }
                    }
                }
                li.nav-item[data-selected="1"]{
                    font-weight: bold; 
                    text-decoration: underline solid #fff;
                }
            }
        }
    }

    &.vertical{
        grid-template-rows: auto;

        .navbar{align-items: baseline; align-content: baseline;}

        @media (min-width: $max-width-responsive-m5){
            .navbar-expand-lg{
                .navbar-nav{
                    flex-direction: column;
                    .dropdown-menu{position: relative;
                    }
                }
                
            }  
        }
            
        .menuM5{
            //min-width: 10vw;
            .dropdown-submenu>.dropdown-menu{left: 0; top: 100%;}

            ul.navbar-nav{
                ul.dropdown-menu{
                    li.dropdown-submenu{
                        ul.dropdown-menu{margin-left: 1rem;}
                    }
                    li{
                        .dropdown-item{height: auto;white-space: normal;}
                    }
                }
                li.nav-item[data-selected="1"]{font-weight: bold; font-size: large; text-decoration:underline;}            
            }
        }
    }   

    .menuM1{
        position: relative;  

        .background-menu-mobile{display: none;}

        .btn-menu-responsive{display: none;}

        .menu-level{
            width: 100%; list-style: none; margin: auto; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; padding: 0; height: 70px;
            
            .menu-item{
                padding: .5rem; margin: .1rem; align-self: center; display: flex; justify-content: center; align-items: center; 
                .menu-item-title{
                    display: flex; align-items: center;
                    .menu-item-desc{padding: .3rem;    font-size: 16px;      font-weight: 600;    text-align: center;
                        white-space: nowrap;    -webkit-hyphens: none;    -ms-hyphens: none;    hyphens: none; white-space: normal;
                        i.fas.fa-plus{display: none;}
                        i.fas.fa-minus{display: none;}
                    }
                    .btn-expand-sub-menu{display: none;}
                }
            }
            li:empty{ height: 30px; align-self: center; width: 2px; border-right: 1px solid #FFF;}
            li:empty:last-child{ display: none;}

            .menu-item[data-selected="1"]{
                .arrow{display: block;}
            }       
        }

        .arrow{
            border-width: 10px; border-style: solid; border-color: transparent; width: 0; height: 0; margin: 0px; display: none; 
            border-left-color: #666; border-right-width: 0px;
        }

        .menu-level1{
            @extend .menu-level; background-color: $tt-menu-color1;
            .menu-item:first-child{ display: none;} 
            .menu-item{
                .menu-item-desc{color: $tt-menu-color2;}

                &[data-selected="1"]{
                    .menu-item-desc{color: $tt-menu-color3;}
                    .arrow{display: inline-block;  border-left-color: $tt-menu-color3; }
                } 

                .menu-level2{
                    @extend .menu-level; 
                    display: none; position: absolute;  top: 70px; left: 0px; background-color: $tt-menu-color2;
                    .menu-item:first-child{ display: flex;} 
                    .menu-item{
                        .menu-item-desc{font-weight: 400;  color: $tt-menu-color1; }
                        .arrow{display: none !important;}
                    }
                    .menu-item[data-selected="1"]{
                        .menu-item-desc{ color: $tt-menu-color3;}
                        .arrow{display: inline-block !important;  border-left-color: $tt-menu-color3; }
                    } 
                }
        
                .menu-level2[data-selected="1"]{display: flex;}
            }
        }
    }

    .menuM5{
        background-color: $tt-menu-color4;
  
        .nav-item.dropdown{padding-right: 1rem;}

        .dropdown-submenu {
            position: relative;
        }
          
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
        }
    
        ul.navbar-nav{
            li.nav-item{
                text-align: left;
                .nav-link{color: $tt-menu-color3;}
                .nav-link:hover{color: rgba(255,255,255,.5);}
            }
            ul.dropdown-menu{
                background-color: $tt-menu-color4;
                margin: 0;
                border-radius: 0px;
                border: none;
               // box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    
                li{
                    .dropdown-item{
                        color: $tt-menu-color3;
                        height: $menu-item-height;
                    }
                    .dropdown-item:hover{
                        color: rgba(255,255,255,.5);
                        background-color: transparent;
                    }
                }
    
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1.5rem;
                    }
                }
            }
            
            .dropdown-submenu .pull-left{
                float:none;
            }
            
            .dropdown-submenu.pull-left > .dropdown-menu{
                left:-100%;
                margin-left:10px;
                -webkit-border-radius:6px 0 15px 15px;
                -moz-border-radius:6px 0 15px 15px;
                border-radius:6px 0 15px 15px;
            }
        }
    }
   
    .menu-map{
        .root{font-size: 20px; line-height: 3rem; padding-left: 4rem;}
        .activity-list{line-height: 20px; font-size: 16px;}
    }

    //------------------ Menu responsive ----------------/
    .menuM1.responsive{
        &{ margin-bottom: 1rem;}
        //Closed responsive menuM1.
        &[data-status='close']{ 
            width: 100%;       position: relative;      display: block;    transition: 0.5s;
            
            .background-menu-mobile{display: none;}
            
            .btn-menu-responsive{
                width: 100%; display: flex; justify-content: left; padding: 1rem; 
                button[data-btn='open']{width: 40px;}
                .section-title{ width: 90%;font-variant: all-petite-caps; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-weight: 500; line-height: 1.2; font-size: 22px;}
                .sous-section-title{ font-size: large; margin-right: 1rem;}
                button[data-btn='close']{display: none;}
            }

            .menu-level1{
                li:empty{ display: none;}
                .menu-item{ display: none;}
            }
        }

        //Opened responsive menuM1
        &[data-status='open']{
            width: 100%; position: absolute; z-index: 1050; transition: 0.5s; max-width: $page-max-width;

            .background-menu-mobile{display:block ;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.4);z-index: 1040;} 
            
            .btn-menu-responsive{
                display: flex;
                button[data-btn='open']{display: none;}
                .section-title{display: none;}
                .sous-section-title{display: none;}
                button[data-btn='close']{display: block; margin: .5rem .5rem 0 auto;}
            }

            .menu-level1{
                flex-direction: column; position: absolute; z-index: 1070; height: auto;

                li:empty{ display: none;}
                
                .menu-item{
                    border-bottom: .1px solid #fff; width: 90%; flex-direction: column;
                    .menu-item-title{
                        justify-content: space-between; display: flex; width: 100%;
                        .arrow{display: none;}
                        .menu-item-desc{margin-left: 1rem; }                        
                    }   
                    
                    .btn-expand-sub-menu{display: flex; align-self: center;}
                    
                    &[data-selected="1"]{
                        background-color: $tt-menu-color1;
                        .menu-item-desc{ text-decoration: none;}
                    }   
                    
                    .menu-level2{
                        position: relative; margin: 1rem; top: 0; background-color: transparent; height: auto;
                        li[data-selected="1"]{ background-color: $tt-menu-color1;}     
                        &[data-status='open']{display: block;}
                        &[data-status='close']{display: none;}
        
                        .menu-item-title{
                            .arrow{display: none!important;}
                            .menu-item-desc{margin-left: 1rem; color: $tt-menu-color2;}                        
                        }  
                    }
                }
            }
        }
    }

    @media screen and (max-width: $max-width-responsive-m5){
        .menuM5{
            ul.navbar-nav{
                
                li.nav-item{text-align: left !important;}
                ul.dropdown-menu{
                    box-shadow: none !important;
                    li.dropdown-submenu{
                        ul.dropdown-menu{
                            margin-left: 1rem!important;
                        }
                    }
                }
            }
        }
    }
}