/*Change question appearance*/
 .qn-container, .que {
    
    max-width: 95%;
    margin: 15px;
}  

.qn-container {
  margin: 55px;
}

.que .answernumber {
text-indent: -25px!important;
font-size:1.5rem;
font-size: 12px;
padding: 5px;
width: 64px;
height: 64px;
line-height: px;
color: #fff;
text-align: center;
background: $secondary;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 30px;
position: relative;
left: -40px;
margin-top: 50%;
margin-bottom: auto;
}

.que [type="radio"]:checked,
.que [type="radio"]:not(:checked),
.que [type="checkbox"]:checked,
.que [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.que [type="radio"]:checked + label,
.que [type="radio"]:not(:checked) + label,
.que [type="checkbox"]:checked + label,
.que [type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.que [type="radio"]:checked + label:before,
.que [type="radio"]:not(:checked) + label:before ,
.que [type="checkbox"]:checked + label:before,
.que [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.que [type="radio"]:checked + label:after,
.que [type="radio"]:not(:checked) + label:after,
.que [type="checkbox"]:checked + label:after,
.que [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $secondary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-color:  2px $secondary solid ;;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.que [type="radio"]:not(:checked) + label:after,
.que [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.que [type="radio"]:checked + label:after,
.que [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.que-legend, .qn-container, .que {
.answer label {
  font-display: block;
  vertical-align: middle !important;}



.qn-legend,.info {
color: $secondary!important;
/*background-color: $secondary;
opacity: 0.1;*/
float: none;
width: 100%;
border-radius: 5px 5px 0 0;
margin-bottom: 1px;
border: 1px solid $secondary;
padding-bottom: 15px;
border-radius: 10px 10px 0px 0px;
  border-bottom: 2px $secondary solid ;
  border-top: 1px  $secondary solid ;
  border-left: 1px  $secondary solid; 
  border-right: 1px $secondary solid;
  padding: 15px;

}

.qn-content, .content {
margin: 0;

}

.answer {
padding-left: 40px;

}
.qn-question {
  background: white;
}

h3.no {
color: $secondary;
margin-right: 50px;
font-size: 1.2em;
text-transform: capitalize;
display: inline-block;
}
span.qno {
color: $secondary;
font-size: 1.2em;
}

.qn-legend, .info > div {

font-size: 1em;
color: $secondary;
display: inline-block;
margin-right: 25px
}

.qn-legend, .info > div.state, .que .info > div.grade {
font-size: 0.9em;
color: $secondary;
}

.qn-legend,  .info > div.questionflag, .que .info > div.editquestion {
font-weight: bold;
}

.qn-content, .formulation{
padding: 20px;
border-radius: 0px 0px 10px 10px;
color: Black;
background: white;
border-bottom: 1px  $secondary solid;
border-top: 0 ;
border-left: 1px  $secondary solid; 
border-right: 1px $secondary solid;
}
.que.multichoice .answer div.r0 label, .que.multichoice .answer div.r1 label, .que.multichoice .answer div.r0 div.specificfeedback, .que.multichoice .answer div.r1 div.specificfeedback {
text-indent: -25px !important; 
}
}