body {
    #page-header {
        background-color: #fff;

        .second-navbar {
            display: flex;
            justify-content: space-between;
            padding: 0 0.8rem 0 0.8rem;
            align-items: center;
        }
    }
}

// patch pour prbl scrollbar verticale H5P
.h5p-iframe-wrapper {
    margin-top: -1px;
}

.titre_actvity {
    h2 {
        font-size: 3em;
    }

    color: #000;
    border: none;
}



#top-footer {
    background-image: none !important;
}

#block-region-side-pre {
    border-left: solid;
    border-image: linear-gradient(white, #e3e3e3, white) 30 stretch;
    padding: 15px;
}

#block-region-side-top {
    border-left: solid;
    border-image: linear-gradient(white, #e3e3e3, white) 30 stretch;
    padding: 15px;
}

#page-my-index .block_lw_courses .lw_courses_list {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 900px;
}

#page-my-index .block_lw_courses .lw_courses_list .coursebox.list {
    height: auto;
    width: 280px;
    padding: 0px !important;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 10px;
    border: solid;
    border-color: #ababab;
}

#page-my-index .block_lw_courses .lw_courses_list .coursebox.list .teacher_names,
.block_lw_courses .lw_courses_list .coursebox.list .course_description,
.block_lw_courses .lw_courses_list .coursebox.list .teacher_image_wrap {
    display: none;
}

#page-my-index .block_lw_courses .lw_courses_list .coursebox.list>div {
    width: auto;
    float: none;
    overflow: hidden;
    max-height: 300px;
    position: relative;
}

#page-my-index .block_lw_courses .coursebox.list .progress {
    position: absolute;
    top: 250px;
    width: 100% !important;
    background-color: #0069bf;
}

#page-my-index .block_lw_courses .coursebox.list .image_wrap {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
}

#page-my-index .block_lw_courses .coursebox.list .image_wrap img {
    height: auto;
}

#page-my-index .block_lw_courses .coursebox.list .title {
    font-size: large;
    text-align: center;
    border-bottom: none !important;
    margin-top: 16px;
}

#page-my-index .block_lw_courses .coursebox.list .title:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 20px;
    margin: 8px 2%;
    margin-bottom: 0px;
    border: 2px solid #0069bf;
    @include vendor('border-radius', '4px');
    @include vendor('box-shadow', 'inset 0 1px 1px rgba(0, 0, 0, .05)');
    left: 50%;
    transform: translateX(-50%);
}

#page-my-index .block_lw_courses .coursebox.list .categorypath {
    text-align: center;
    top: -16px;
}

#page-my-index .block_lw_courses .coursebox.list .categorypath:after {
    content: 'Accéder';
    display: block;
    background-color: #fba22a;
    width: 50%;
    transform: translateX(50%);
    margin-top: 32px;
    margin-bottom: 16px;
    height: 48px;
    line-height: 48px;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
}

#page-my-index .profilepicture {
    border-style: solid;
    border-radius: 50%;
    border-color: #949492;
    position: relative;
    top: 120px;
    left: 50px;
}

#page-my-index .profilepicture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#page-my-index .welcome_area {
    background-color: black;
    margin-bottom: 100px;
}

#page-my-index .welcome_message {
    position: relative;
    top: 280px;
    left: 80px;
    font-size: x-large;
}

#page-my-index .welcome_message h2 {
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0px;
}

#page-site-index #loginbox {
    display: none;
}



.course-content .current::before {
    border: none;
}

#top-footer .contact h3 {

    display: none;

}

#top-footer .social>a {
    display: none;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: arts-tab-counter;
}


.truncate-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// Patch for help icons floating 
#page-mod-quiz-mod #id_reviewoptionshdr .btn-link {
    float: right;
}