body {
    #page-header {
        background-color: #fff;

        .second-navbar {
            display: flex;
            justify-content: space-between;
            padding: 0 0.8rem 0 0.8rem;
            align-items: center;
        }
    }
}

// patch pour prbl scrollbar verticale H5P
/* #page-h5p-embed {

    &::-webkit-scrollbar { width: 4px; height: 4px;}
    
    // Track 
    &::-webkit-scrollbar-track { background: #f1f1f1; }

    //* Handle
    &::-webkit-scrollbar-thumb {background: #888;}

    //* Handle on hover
    &::-webkit-scrollbar-thumb:hover {background: #555;}
}*/

.titre_actvity {
    h2 {
        font-size: 3em;
    }

    color: #000;
    border: none;
}

#block-region-side-pre {
    border-left: solid;
    border-image: linear-gradient(white, #e3e3e3, white) 30 stretch;
    padding: 15px;
}

#block-region-side-top {
    border-left: solid;
    border-image: linear-gradient(white, #e3e3e3, white) 30 stretch;
    padding: 15px;
}

#page-site-index #loginbox {
    display: none;
}



.course-content .current::before {
    border: none;
}

.truncate-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// Patch for help icons floating 
#page-mod-quiz-mod #id_reviewoptionshdr .btn-link {
    float: right;
}