
/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px){
    body{
        #page-header{
            #course-banner{
                h1,h2{font-size:  2rem;}
            }	
        }
    }
    

    body.drawer-open-right #sidepreopen-control{
        right: 50vw;
    }
    
    #sidepre-blocks{
        width: 50vw;
    }

    // ceci est le #page-content de la page principale (ce n'est pas un iframe genre le plug-in h5p)
    body.pagelayout-course, body.pagelayout-coursecategory, body.pagelayout-incourse, 
    body.pagelayout-admin, body.pagelayout-frontpage, body.pagelayout-mydashboard,
    body.pagelayout-base, body.pagelayout-report, body.pagelayout-standard, body.pagelayout-mypublic {
        #page-content{
            #region-main-box{
                #region-main > .card{
                    .card-body{
                        .activity-title-container{
                            grid-template-columns: auto; grid-template-rows: auto auto; 
                        }

                        .activity-nav{
                            grid-template-columns: calc(50% - 1rem) calc(50% - 1rem); grid-template-rows: auto auto; grid-template-areas: "prevlink nextlink" "activitylist activitylist";
                        }
                    }
                }
            }
        }
    }
    .recit-course-list-grid{
        grid-template-columns: 50% 50%;
    }

}


/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (max-width: 1280px){
    .recit-course-list{
        .coursedesc .row {
            padding: 5px 15px;
        }
        .summary {
            height: unset;
            min-height: 115px;
        }
        .coursetitle {
            min-height: unset;
        }
        .recit-card-img-top {
            width: 100%;
            min-height: 225px;
        }
        .instructors {
            img {
                height: 35px;
            }
        }
    }
}
