/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 767px){
    body{
        #page-header{
            #course-banner{
               // background-image:  url('[[pix:theme|avenir-mobile]]'); background-size: cover; height: 100px;
                background-image:  url('[[pix:theme|banner-course-mobile]]');
                .page-header-headings{
                    h1{font-size:  1.5rem;}
                }
            }	
        }
    }
    
    // ceci est le #page-content de la page principale (ce n'est pas un iframe genre le plug-in h5p)
    body.pagelayout-course, body.pagelayout-coursecategory, body.pagelayout-incourse, 
    body.pagelayout-admin, body.pagelayout-frontpage, body.pagelayout-mydashboard,
    body.pagelayout-base, body.pagelayout-report, body.pagelayout-standard, body.pagelayout-mypublic {
        #page-content{
            #region-main-box{
                #region-main > .card{
                    .card-body{
                        .activity-title-container{
                            grid-template-columns: auto; grid-template-rows: auto auto; margin-top: 1rem; margin-bottom: .5rem;
                            .activity-title{font-size: 30px; }
                            .activity-controls{justify-content: space-between;}
                        }    
                        
                        .activity-nav{
                            grid-template-columns: calc(50% - 1rem) calc(50% - 1rem); grid-template-rows: auto auto; grid-template-areas: "prevlink nextlink" "activitylist activitylist";
                        }
                    }
                }
            }
        }
    }

    .recit-course-list{
        grid-template-columns: auto;
    }  

    #page-login-index.recit-login {
        #page-wrapper {
            #page {
                #region-main-box {
                    .loginpanel {
                        border-radius: 0;

                        .instructions {
                            border-radius: 0;
                        }
                        .form{
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    body.drawer-open-right #sidepreopen-control{
        right: 92vw;
    }
    
    #sidepre-blocks{
        width: 92vw;
    }
}