body.theme-recit-francais{
    #course-banner{background-image:  url('[[pix:theme|banner-francais]]');}

    #top-1.engine{display: none;} // code dynamique intrusif du Mobirise 
    
    
/*-------------------------------*\
    Buttons - Bars
\*-------------------------------*/
/*-- Button 1 --*/
h5 a,
h5 a.style_btn_1 {
    display: inline-block;
    padding: 4px 10px;
    color: $theme_color4;
    border: solid 2px $theme_color4;
    background: $white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
h5 a:hover,
h5 a.style_btn_1:hover {
    text-decoration: none;
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}
.recit-btn, .recit-btn-style_btn_1 {
    display: inline-block;
    padding: 4px 10px;
    color: $theme_color4;
    border: solid 2px $theme_color4;
    background: $white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.recit-btn-style_btn_1:hover {
    text-decoration: none;
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}/*-- Button 2 --*/
.recit-btn-style_btn_2, h5 a.style_btn_2 {
    color: $theme_color3;
    border: solid 2px $theme_color3;
    background: $white;
}
.recit-btn-style_btn_2:hover, h5 a.style_btn_2:hover {
    color: $white;
    border: solid 2px $theme_color3;
    background: $theme_color3;
}
/*-- Button 3 --*/
.recit-btn-style_btn_3, h5 a.style_btn_3 {
    color: $theme_color1;
    border: solid 2px $theme_color1;
    background: $white;
}
.recit-btn-style_btn_3:hover, h5 a.style_btn_3:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 4 --*/
.recit-btn-style_btn_4, h5 a.style_btn_4 {
    color: $theme_color1;
    border: solid 2px $theme_color2;
    background: $theme_color2;
}
.recit-btn-style_btn_4:hover, h5 a.style_btn_4:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 5 --*/
.recit-btn-style_btn_5, h5 a.style_btn_5 {
    color: $white;
    border: solid 2px $theme_color3;
    background: $theme_color3;
}
.recit-btn-style_btn_5:hover, h5 a.style_btn_5:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 6 --*/
.recit-btn-style_btn_6,h5 a.style_btn_6 {
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}
.recit-btn-style_btn_6:hover, h5 a.style_btn_6:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-------------------------------*\
    Custom rows styles
\*-------------------------------*/
.color-row {
    background: #004e95;
}
.diago-row {
    background: #0057a7;
    background: -moz-linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    background: -webkit-linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    background: linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004e95",endColorstr="#0057a7",GradientType=1);
}
.degrade-row {
    background: rgb(0,58,109);
    background: -moz-linear-gradient(45deg,  rgba(0,58,109,1) 0%, rgba(19,97,165,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(0,58,109,1) 0%,rgba(19,97,165,1) 100%);
    background: linear-gradient(45deg,  rgba(0,58,109,1) 0%,rgba(19,97,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a6d', endColorstr='#1361a5',GradientType=1 );
}


@media screen and (min-width: 992px) {
    h5 a {
        padding: 6px 14px;
    }
}
}

body.theme-recit-histoire{
	#course-banner{background-image:  url('[[pix:theme|banner-histoire]]') ;}
    .recit-btn {
        position: relative;
        display: inline-block;
        font-weight: 500;
        -moz-transform:    skewX(-15deg) !important;
        -webkit-transform: skewX(-15deg) !important;
        -o-transform:      skewX(-15deg) !important;
        transform:         skewX(-15deg) !important;
        background: none;
    }
    
h5 a,
h5 a.style_btn_1 {
    display: inline-block;
    padding: 12px 12px 14px;
    margin: 0 2px 4px 2px;
    -moz-transform:    skewX(15deg) !important;
    -webkit-transform: skewX(15deg) !important;
    -o-transform:      skewX(15deg) !important;
    transform:         skewX(15deg) !important;
    color: $dark;
    border-left: solid 5px $theme_color2;
    background: #fff;
}
h5 a:hover,
h5 a.style_btn_1:hover {
    color: $white;
    text-decoration: none;
    border-left: solid 5px $theme_color2;
    background: $theme_color1;
}

 .recit-btn-style_btn_1 {
    display: inline-block;
    padding: 12px 12px 14px;
    margin: 0 2px 4px 2px;
    -moz-transform:    skewX(15deg) !important;
    -webkit-transform: skewX(15deg) !important;
    -o-transform:      skewX(15deg) !important;
    transform:         skewX(15deg) !important;
    color: $dark;
    border-left: solid 5px $theme_color2;
    background: #fff;
}
.recit-btn-style_btn_1:hover {
    color: $white;
    text-decoration: none;
    border-left: solid 5px $theme_color2;
background: $theme_color1;}
/*-- Button 2 --*/
.recit-btn-style_btn_2, h5 a.style_btn_2 {
    border-left: solid 5px $theme_color1;
}
.recit-btn-style_btn_2:hover, h5 a.style_btn_2:hover {
    color: $white;
    border-left: solid 5px $theme_color1;
    background: $theme_color2;
}
/*-- Button 3 --*/
 h5 a.style_btn_3 {
    color: $white;
    border-left: solid 5px $theme_color1;
    background: $dark;
}
h5 a.style_btn_3:hover {
    color: $white;
    border-left: solid 5px $theme_color2;
    background: $dark;
}
/*-- Button 4 --*/
h5 a.style_btn_4 {
    color: $dark;
    border-left: solid 5px $white;
    border-right: solid 5px $white;
    background: $white;
}
h5 a.style_btn_4:hover {
    color: $white;
    border-left: solid 5px $dark;
    border-right: solid 5px $dark;
    background: $dark;
}
/*-- Button 5 --*/
h5 a.style_btn_5 {
    color: $white;
    border-left: solid 5px $theme_color1;
    border-right: solid 5px $theme_color1;
    background: $theme_color1;
}
h5 a.style_btn_5:hover {
    color: $theme_color1;
    border-left: solid 5px $white;
    border-right: solid 5px $white;
    background: $white;
}
/*-- Button 6 --*/
.recit-btn-primary, h5 a.style_btn_6 {
    color: $white;
    border-left: solid 5px $theme_color2;
    border-right: solid 5px $theme_color2;
    background: $theme_color2;
}
.recit-btn-primary:hover, h5 a.style_btn_6:hover {
    color: $theme_color2;
    border-left: solid 5px $white;
    border-right: solid 5px $white;
    background: $white;
}

h5 a strong {
    position: relative;
    display: inline-block;
    font-weight: 500;
    -moz-transform:    skewX(-15deg) !important;
    -webkit-transform: skewX(-15deg) !important;
    -o-transform:      skewX(-15deg) !important;
    transform:         skewX(-15deg) !important;
    background: none;
}



@media screen and (min-width: 768px) {
    h4 strong {
        padding: 14px 52px 16px 0;
    }
    h4 strong:after {
        display: block;
        width: 60px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: -28px;
        transform: skewX(15deg);
        background: $theme_color2;
        z-index: 2;
    }
    h4 strong:before {
        display: block;
        width: 1000px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: -998px;
        background: $theme_color2;
        z-index: 2;
    }
    h4 strong:after {
        left: auto;
        right: -28px;
    }
}
}
body.theme-recit-histoire#page-mod-book-view{
    .block-region {
        .card-header {
            font-family: $headings-font-family;
            text-transform: uppercase;
            display: inline-block;
            line-height: 72px;
            margin-bottom: 20px;
            font-size: x-large;
            padding: .75rem 1.25rem;
            //margin-bottom: 0;
            background-color: rgba(46, 43, 43, 0.459);
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
}

body.theme-recit-ecr{
	#page-header .card{background-image:  url('[[pix:theme|banner-ecr]]') no-repeat right center;}
.ecr-grey-row {
    position: relative;
    padding: 60px 0;
    color: #fff;
    background: #3b505d;
}
.list_num.list_num_color li::before {
    background: $color1;
}
.ecr-grey-row.list_num.list_f_a ul li::before {
    color: #fff;
}
.round-corners-shadow .row div p {
    display: block;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 40px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
}

/*-------------------------------*\
    Buttons - Bars
\*-------------------------------*/
h5 a {
    position: relative;
    display: inline-block;
    padding: 5px 12px 7px 22px;
    color: $color2;
}
h5 a:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    width: 5px;
    height: 70%;
    background: $color2;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
h5 a:hover {
    color: #fff;
    text-decoration: none;
    background: $color2;
}
h5 a:hover:before {
    height: 90%;
    background: $color1;
}



}



@media screen and (min-width: 768px) {
    .ecr-grey-row.ecr-dark-pale-grey-row {
        background: rgb(59,80,93);
        background: -moz-linear-gradient(left,  rgba(59,80,93,1) 50%, rgba(239,239,239,1) 50%);
        background: -webkit-linear-gradient(left,  rgba(59,80,93,1) 50%,rgba(239,239,239,1) 50%);
        background: linear-gradient(to right,  rgba(59,80,93,1) 50%,rgba(239,239,239,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b505d', endColorstr='#efefef',GradientType=1 );
    }
    .ecr-grey-row.ecr-dark-pale-grey-row .row div:nth-child(2) {
        color: #000;
    }
}


body.theme-recit-mathematique{
	#course-banner{background-image:  url('[[pix:theme|banner-mathematique]]') ;}
	/*-------------------------------*\
    Buttons - Bars
\*-------------------------------*/
/*-- Button 1 --*/
    .recit-btn,.recit-btn-style_btn_1,h5 a,
    h5 a.style_btn_1,
    .submit.btn.btn-default {
        display: inline-block;
        padding: 12px 12px 14px;
        margin: 0 2px 4px 2px;
        color: $theme_color1;
        border: solid 1px $theme_color1;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: #ffffff;
        background: -moz-linear-gradient(-70deg,  #ffffff 0%, #ffffff 50%, #e3ebeb 50%, #e3ebeb 100%);
        background: -webkit-linear-gradient(-70deg,  #ffffff 0%,#ffffff 50%,#e3ebeb 50%,#e3ebeb 100%);
        background: linear-gradient(160deg,  #ffffff 0%,#ffffff 50%,#e3ebeb 50%,#e3ebeb 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3ebeb',GradientType=1 );
    }
    .submit.btn.btn-default {
        padding: 12px 12px 11px;
    }
    .recit-btn-style_btn_1:hover,h5 a:hover,
    h5 a.style_btn_1:hover {
        color: $theme_color1;
        border: solid 1px $theme_color1;
        text-decoration: none;
        background: #e1e3e4;
        background: -moz-linear-gradient(-70deg,  #e1e3e4 0%, #e1e3e4 50%, #cdd4d4 50%, #cdd4d4 100%);
        background: -webkit-linear-gradient(-70deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        background: linear-gradient(160deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e3e4', endColorstr='#cdd4d4',GradientType=1 );
    }
    /*-- Button 2 --*/
    .recit-btn-style_btn_2,h5 a.style_btn_2,
    .submit.btn.btn-default {
        color: $theme_color4;
        border: solid 1px $theme_color4;
        background: #ffffff;
        background: -moz-linear-gradient(-70deg,  #ffffff 0%, #ffffff 50%, #edf7ec 50%, #edf7ec 100%);
        background: -webkit-linear-gradient(-70deg,  #ffffff 0%,#ffffff 50%,#edf7ec 50%,#edf7ec 100%);
        background: linear-gradient(160deg,  #ffffff 0%,#ffffff 50%,#edf7ec 50%,#edf7ec 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf7ec',GradientType=1 );
    }
    .recit-btn-style_btn_5:hover,h5 a.style_btn_2:hover,
    .submit.btn.btn-default:hover, .submit.btn.btn-default:focus, .submit.btn.btn-default:active {
        color: $theme_color4;
        border: solid 1px $theme_color4;
        background: #e1e3e4;
        background: -moz-linear-gradient(-70deg,  #e1e3e4 0%, #e1e3e4 50%, #cdd4d4 50%, #cdd4d4 100%);
        background: -webkit-linear-gradient(-70deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        background: linear-gradient(160deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e3e4', endColorstr='#cdd4d4',GradientType=1 );
    }
    /*-- Button 3 --*/
    .recit-btn-style_btn_3,h5 a.style_btn_3 {
        color: $theme_color3;
        border: solid 1px $theme_color3;
        background: #ffffff;
        background: -moz-linear-gradient(-70deg,  #ffffff 0%, #ffffff 50%, #edf7ec 50%, #edf7ec 100%);
        background: -webkit-linear-gradient(-70deg,  #ffffff 0%,#ffffff 50%,#edf7ec 50%,#edf7ec 100%);
        background: linear-gradient(160deg,  #ffffff 0%,#ffffff 50%,#edf7ec 50%,#edf7ec 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf7ec',GradientType=1 );
    }
    .recit-btn-style_btn_3:hover,h5 a.style_btn_3:hover {
        color: $theme_color3;
        border: solid 1px $theme_color3;
        background: #e1e3e4;
        background: -moz-linear-gradient(-70deg,  #e1e3e4 0%, #e1e3e4 50%, #cdd4d4 50%, #cdd4d4 100%);
        background: -webkit-linear-gradient(-70deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        background: linear-gradient(160deg,  #e1e3e4 0%,#e1e3e4 50%,#cdd4d4 50%,#cdd4d4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e3e4', endColorstr='#cdd4d4',GradientType=1 );
    }
    /*-- Button 4 --*/
    .recit-btn-style_btn_4,h5 a.style_btn_4 {
        color: $white;
        border: solid 1px $theme_color1;
        background: $theme_color1;
    }
    .recit-btn-style_btn_4:hover,h5 a.style_btn_4:hover {
        color: $white;
        border: solid 1px $black;
        background: $black;
    }
    /*-- Button 5 --*/
    .recit-btn-style_btn_5,h5 a.style_btn_5 {
        color: $white;
        border: solid 1px $theme_color4;
        background: $theme_color4;
    }
    .recit-btn-style_btn_5:hover,h5 a.style_btn_5:hover {
        color: $white;
        border: solid 1px $black;
        background: $black;
    }
    /*-- Button 6 --*/
    .recit-btn-style_btn_6,h5 a.style_btn_6 {
        color: $black;
        border: solid 1px $theme_color2;
        background: $theme_color2;
    }
    .recit-btn-style_btn_6:hover,h5 a.style_btn_6:hover {
        color: $white;
        border: solid 1px $black;
        background: $black;
    }
}

body.theme-recit-science{
	#course-banner{background-image:  url('[[pix:theme|banner-science]]') ;}
}



body.theme-recit-art{
    #course-banner{background-image:  url('[[pix:theme|banner-art]]') ;}
    .page-header-headings h1 {color: $black!important; font-size: xx-large;}

/*-------------------------------*\
    Buttons - Bars
\*-------------------------------*/
/*-- Button 1 --*/
h5 a,
h5 a.style_btn_1 {
    position: relative;
    display: inline-block;
    padding: 5px 12px 7px 32px;
    color: $white;
    background: $theme_color1;
}
											
					 
					 
					
					   
 
h5 a:before,
h5 a.style_btn_1:before {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: '\f061';
    font-weight: 600;
    color: $white;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 9px;
								  
							   
}
h5 a:hover,
h5 a.style_btn_1:hover {
    color: $white;
    text-decoration: none;
    background: $theme_color4;
}
/*-- Button 2 --*/
h5 a.style_btn_2 {
    color: $white;
    background: $theme_color2;
}
h5 a.style_btn_2:hover {
    color: $white;
    background: $theme_color4;
}
/*-- Button 3 --*/
h5 a.style_btn_3 {
    color: $white;
    background: $theme_color3;
}
h5 a.style_btn_3:hover {
    color: $white;
    background: $theme_color4;
}
/*-- Button 4 --*/
h5 a.style_btn_4 {
    color: $theme_color1;
    background: transparent;
    padding: 9px 19px 11px 39px;
}
h5 a.style_btn_4:before {
    color: $theme_color1;
}
h5 a.style_btn_4:hover {
    color: $theme_color4;
    background: transparent;
}
h5 a.style_btn_4:hover:before {
    color: $theme_color4;
}
/*-- Button 5 --*/
h5 a.style_btn_5 {
    color: $white;
    background: $theme_color2;
    padding: 9px 29px 11px 29px;
}
h5 a.style_btn_5:before {
    display: none;
}
h5 a.style_btn_5:hover {
    color: $white;
    background: $theme_color4;
}
h5 a.style_btn_5:hover:before {
    display: none;
}
/*-- Button 6 --*/
h5 a.style_btn_6 {
    color: $white;
    background: $theme_color3;
    padding: 9px 29px 11px 29px;
}
h5 a.style_btn_6:before {
    display: none;
}
h5 a.style_btn_6:hover {
    color: $white;
    background: $theme_color4;
}
h5 a.style_btn_6:hover:before {
    display: none;
}

/*-------------------------------*\
    Side menu
								   
				 
\*-------------------------------*/
#sidepre-blocks .block_html .card-text.content {
    color: #fff;
    background: #192122;
    .px-3 {
        padding: 0 !important;
        color: #fff;
        background: #192122;
        a {
            color: #fff;
        }
        .p-4 {
            padding: 8px 0 !important;
            .card-img.pr-3 {
                width: 40px;
                h3 {
                    margin-bottom: 0;
                }
            }
            .card-text {
                padding: 5px 0 0 0;
                background: none;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    h5 a {
					 
				  
						
					  
																																 
					 
							
								
        padding: 8px 18px 10px 38px;
																	
				 
				  
							  
				   
					 
											  
    }
						 
}

}