// Début item onglet de l'éditeur

//sélecteur de couleur
.tabs-color1 {
    .nav-tabs a:hover, .nav-tabs a.active {
        background: $color1;
    }
    .nav-tabs .nav-item.a:before {
        content: '';
        background: $color1;
    }
}
.tabs-color2 {
    .nav-tabs a:hover, .nav-tabs a.active {
        background: $color2;
    }
    .nav-tabs .nav-item.a:before {
        content: '';
        background: $color2;
    }
}
.tabs-color3 {
    .nav-tabs a:hover, .nav-tabs a.active {
        background: $color3;
    }
    .nav-tabs .nav-item.a:before {
        content: '';
        background: $color3;
    }
}
.tabs-color4 {
    .nav-tabs a:hover, .nav-tabs a.active {
        background: $color4;
    }
    .nav-tabs .nav-item.a:before {
        content: '';
        background: $color4;
    }
}
.tabs-color5 {
    .nav-tabs a:hover, .nav-tabs a.active {
        background: $color5;
    }
    .nav-tabs .nav-item.a:before {
        content: '';
        background: $color5;
    }
}

.recit_tab_14 //https://bestjquery.com/tutorial/tab/demo81/

    {
    font-family: 'Ubuntu';

    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .nav-tabs {
        background-color: transparent;
        border: none;
    }

    .nav-tabs a {
        color: #333;
        background: #f5f5f5;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        padding: 11px 15px 10px;
        margin: 0 10px 1px 0;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs:last-child a {
        margin-right: 0;
    }

    .nav-tabs a:hover,
    .nav-tabs a.active {
        color: #fff;
        //background: $color5;
        border: none;
    }

    .nav-tabs .nav-item.a:before {
        content: '';
        //background: $color5;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0.5);
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transition: opacity 0.4s ease 0s, left 0.3s ease 0s, transform 0.4s ease 0.2s;
    }

    .nav-tabs .nav-item.active a:before,
    .nav-tabs .nav-item:hover:before {
        opacity: 1;
        transform: scale(1);
        left: 0;
    }

    /*
    .tab-content {
       color: #333;
       background: linear-gradient(to right bottom, #f5f5f5 50%, transparent 50%);
       font-size: 14px;
       letter-spacing: 1px;
       line-height: 25px;
       padding: 20px;
       border-top: 4px solid $secondary;
       border-left: 4px solid $secondary;
        position: relative;
    }

    .tab-content h3 {
        color: $secondary;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 7px 0;
    }
*/
    @media only screen and (max-width: 479px) {
        .nav-tabs {
            width: 100%;
        }

        .nav-tabs a {
            margin: 0 0 10px;
        }

        .tab-content h3 {
            font-size: 18px;
        }
    }
}
// Fin item onglet de l'éditeur


/*Mod_tab*/
.recit_tab_11 {
    .nav-tabs {
        position: relative;
        border-bottom: none;

        li {
            text-align: center;
            margin-right: 3px;
        }

        li a {
            display: block;
            font-size: 15px;
            font-weight: 600;
            color: $secondary;
            text-transform: uppercase;
            padding: 15px;
            background: #fff;
            margin-right: 0;
            border-radius: 0;
            border: none;
            position: relative;
            transition: all 0.5s ease 0s;
        }

        li a:before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: transparent;
            position: absolute;
            margin-left: -20px;
            bottom: 0;
            left: 50%;
            transition: all 0.2s ease 0s;
        }

        li a:hover:before,
        li a.active:before {
            background: $primary;
        }

        li a:after {
            content: "";
            width: 0;
            height: 1px;
            background: $primary;
            margin-left: -15px;
            position: absolute;
            bottom: 6%;
            left: 50%;
            transition: all 0.2s ease 0s;
        }

        li a:hover:after,
        li a.active:after {
            width: 35px;
        }

        li a.active,
        li a.active:focus,
        li a.active:hover,
        li a:hover {
            border: none;
            color: $primary;
        }
    }

    @media only screen and (max-width: 479px) {
        .nav-tabs li {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}

.recit_tab_10 {
    .nav-tabs {
        border-bottom: 0 none;

        li {
            margin-right: 10px;
        }

        li a {
            position: relative;
            padding: 15px;
            color: #fff;
            font-size: 17px;
            z-index: 1;
        }

        li a:hover {
            background: transparent;
            border: 1px solid transparent;
        }

        li a:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 8px;
            left: -1px;
            font-size: 17px;
            background: $primary;
            border: 1px solid #d3d3d3;
            border-bottom: 0px none;
            border-radius: 10px 10px 0 0;
            transform-origin: left center 0;
            transform: perspective(4px) rotateX(2deg);
            z-index: -1;
        }

        li a.active:before {
            background: $secondary;
        }

        li a.active,
        li a.active:focus,
        li a.active:hover {
            border: 1px solid transparent;
            background: transparent;
            color: #444;
            z-index: 2;
        }
    }

    .tab-content .tab-pane {
        min-height: 400px;
        border: 1px solid $primary;
        padding: 20px;
        background: #fff;
        line-height: 22px;
    }

    .tab-content .tab-pane h3 {
        margin-top: 0;
    }

    @media only screen and (max-width: 767px) {
        .nav-tabs li a {
            padding: 15px 10px;
            font-size: 14px;
        }

        .nav-tabs li a:before {
            bottom: 6px;
        }
    }

    @media only screen and (max-width: 480px) {
        .nav-tabs li {
            width: 100%;
            margin-bottom: 5px;
        }

        .nav-tabs li a:before {
            bottom: 0;
            transform: none;
            border-bottom: 1px solid #d3d3d3;
        }
    }

}

.recit_tab_9 {
    .nav-tabs {
        border-bottom: 0 none;
        margin-top: 20px;

        li a {
            font-size: 14px;
            color: #fff;
            margin-right: 0;
            padding: 10px 45px;
            border-radius: 0;
            overflow: hidden;
            background: $primary;
            text-transform: uppercase;
            box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
            transition: all 0.4s ease 0s;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
        }

        li:first-child a {
            border-top-left-radius: 8px;
        }

        li:last-child a {
            border-top-right-radius: 8px;
        }

        li a:hover,
        li.active a:hover,
        li.active a {
            background: $secondary;
            color: #fff;
            margin-top: -19px;
            padding: 20px 45px;
            border: 1px solid $secondary;
        }

        .tab-content {
            color: #fff;
            padding: 25px 20px;
            background: $secondary;
            border-radius: 0 0 8px 8px;
            box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
        }
    }

    @media only screen and (max-width: 650px) {
        .nav-tabs li {
            width: 100%;
        }

        .nav-tabs li a {
            margin: 0;
            padding: 20px 45px;
            box-shadow: -2px -1px 25px 2px rgba(0, 0, 0, 0.4);
        }

        .nav-tabs li:first-child a,
        .nav-tabs li:last-child a {
            border-radius: 0;
        }

        .nav-tabs li a:hover,
        .nav-tabs li.active a:hover,
        .nav-tabs li.active a {
            margin: 0;
        }
    }
}

.recit_tab_8 {
    .nav-tabs {
        border-bottom: 2px solid #e8e8e8;
    }

    .nav-tabs .nav-item .nav-link {
        display: block;
        padding: 10px 20px;
        margin: 0 5px 1px 0;
        background: #fff;
        font-size: 20px;
        font-weight: 700;
        color: #112529;
        text-align: center;
        border: none;
        border-radius: 0;
        z-index: 2;
        position: relative;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs .nav-item .nav-link:hover,
    .nav-tabs .nav-item .nav-link.active {
        color: $primary;
        border: none;
    }

    .nav-tabs .nav-item .nav-link.active:before {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 25px;
        font-weight: 700;
        color: $primary;
        margin: 0 auto;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
    }

    .nav-tabs .nav-item .nav-link.active:after {
        content: "";
        width: 100%;
        height: 3px;
        background: $primary;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: -1;
        transition: all 0.3s ease 0s;
    }

    .tab-content {
        padding: 30px 20px 20px;
        margin-top: 0;
        background: #fff;
        font-size: 15px;
        color: $primaryBold;
        line-height: 30px;
        border-radius: 0 0 5px 5px;
    }

    .tab-content h3 {
        font-size: 24px;
        margin-top: 0;
    }

    @media only screen and (max-width: 479px) {
        .nav-tabs .nav-item {
            width: 100%;
            text-align: center;
        }

        .nav-tabs .nav-item.active a:before {
            content: "\f105";
            bottom: 15%;
            left: 0;
            right: auto;
        }
    }
}

// début recit tab 7 pour l'équipe FR
.recit_tab_7 .recit-section-text {
    color: $dark;
}

.recit_tab_7 .recit-section-subtitle {
    color: $dark;
}

.recit_tab_7 .tabcont {
    -webkit-justify-content: center;
    justify-content: center;
}

.recit_tab_7 .recit-iconfont {
    font-size: 48px;
}

.recit_tab_7 .card-img {
    margin-bottom: 1.5rem;
}

.recit_tab_7 .tab-content-row {
    -webkit-justify-content: center;
    justify-content: center;
}


.recit_tab_7 .nav-tabs {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: none;
}

.recit_tab_7 .nav-tabs .nav-link {
    box-sizing: border-box;
    color: $dark;
    font-style: normal;
    font-weight: 500;
    border-radius: 3px;
    padding: 1rem 3rem;
    margin: 0.4rem .8rem !important;
    //transition: color .3s;
    border: 2px solid $dark;
}

.recit_tab_7 .nav-tabs .nav-link:hover {
    background: $secondary;
    color: $white;
    border-color: $secondary;
}

.recit_tab_7 .nav-tabs .nav-link.active {
    color: #ffffff;
    font-style: normal;
    //border: 2px solid $secondary;
    background: $secondary;
    border-color: $secondary;
}

// fin recit tab 7

.recit_tab_6 {
    font-family: 'Nunito', sans-serif;

    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .nav-tabs {
        background-color: transparent;
        border: none;
    }

    .nav-tabs li a {
        color: #222;
        background: transparent;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 15px 10px;
        margin: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs li:last-child a {
        margin-right: 0;
    }

    .nav-tabs li a:hover,
    .nav-tabs li.active a {
        color: #222;
        background: #fff;
        border: none;
    }

    .nav-tabs li a.active {
        color: $success;
    }

    .nav-tabs li a:before,
    .nav-tabs li a:after {
        content: "";
        background-color: #d1d1d1;
        height: 7px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.5s ease 0s;
    }

    .nav-tabs li a:after {
        background-color: $success;
        height: 100%;
        opacity: 0;
    }

    .nav-tabs li.active a:before,
    .nav-tabs li a:hover:before {
        height: 100%;
        opacity: 0;
    }

    .nav-tabs li.active a:after,
    .nav-tabs li a:hover:after {
        height: 7px;
        opacity: 1;
    }

    .tab-content {
        color: #555;
        background: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 23px;
        padding: 20px;
    }

    .tab-content h3 {
        color: #222;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 7px 0;
    }

    @media only screen and (max-width: 479px) {
        .nav-tabs li {
            width: 100%;
        }

        .nav-tabs li a {
            margin: 0 0 10px;
        }

        .tab-content h3 {
            font-size: 18px;
        }
    }
}

.recit_tab_5 //https://bestjquery.com/tutorial/tab/demo54/

    {

    a:hover,
    a:focus {
        outline: none;
        text-decoration: none;
    }

    .nav-tabs {
        padding-left: 15px;
        border-bottom: 4px solid $secondary;
    }

    .nav-tabs a {
        color: #fff;
        padding: 10px 20px;
        margin-right: 10px;
        background: $secondary;
        text-shadow: 1px 1px 2px #000;
        border: none;
        border-radius: 0;
        opacity: 0.5;
        position: relative;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs a:hover {
        background: $secondary;
        opacity: 0.8;
    }

    .nav-tabs a.active {
        opacity: 1;
    }

    .nav-tabs a.active,
    .nav-tabs .active a:hover,
    .nav-tabs .active a:focus {
        color: #fff;
        background: $secondary;
        border: none;
        border-radius: 0;
    }

    .nav-tabs a:before,
    .nav-tabs a:after {
        content: "";
        border-top: 42px solid transparent;
        position: absolute;
        top: -2px;
    }

    .nav-tabs a:before {
        border-right: 15px solid $secondary;
        left: -15px;
    }

    .nav-tabs a:after {
        border-left: 15px solid $secondary;
        right: -15px;
    }

    .nav-tabs a i,
    .nav-tabs .active a i {
        display: inline-block;
        padding-right: 5px;
        font-size: 15px;
        text-shadow: none;
    }

    .nav-tabs a span {
        display: inline-block;
        font-size: 14px;
        letter-spacing: -9px;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs a:hover span,
    .nav-tabs .active a span {
        letter-spacing: 1px;
        opacity: 1;
        transition: all 0.3s ease 0s;
    }

    .tab-content {
        padding: 30px;
        background: #fff;
        font-size: 16px;
        color: #6c6c6c;
        line-height: 25px;
    }

    .tab-content h3 {
        font-size: 24px;
        margin-top: 0;
    }

    @media only screen and (max-width: 479px) {
        .nav-tabs .tab-items {
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
        }

        nav-tabs a span {
            letter-spacing: 1px;
            opacity: 1;
        }
    }
}

.recit_tab_4 //https://bestjquery.com/tutorial/tab/demo81/

    {
    font-family: 'Sora', sans-serif;

    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .nav-tabs {
        background-color: transparent;
        border: none;
    }

    .nav-tabs a {
        color: #333;
        background: #f5f5f5;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        padding: 11px 15px 10px;
        margin: 0 10px 1px 0;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }

    .nav-tabs:last-child a {
        margin-right: 0;
    }

    .nav-tabs a:hover,
    .nav-tabs a.active {
        color: #fff;
        background: $secondary;
        border: none;
    }

    .nav-tabs .nav-item.a:before {
        content: '';
        background: $secondary;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0.5);
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transition: opacity 0.4s ease 0s, left 0.3s ease 0s, transform 0.4s ease 0.2s;
    }

    .nav-tabs .nav-item.active a:before,
    .nav-tabs .nav-item:hover:before {
        opacity: 1;
        transform: scale(1);
        left: 0;
    }

    //.tab-content {
        //color: #333;
        //background: linear-gradient(to right bottom, #f5f5f5 50%, transparent 50%);
        //font-size: 14px;
        //letter-spacing: 1px;
        //line-height: 25px;
        //padding: 20px;
        //border-top: 4px solid $secondary;
        //border-left: 4px solid $secondary;
        // position: relative;
    //}
    /*
    .tab-content h3 {
        color: $secondary;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 7px 0;
    }
    */

    @media only screen and (max-width: 479px) {
        .nav-tabs {
            width: 100%;
        }

        .nav-tabs a {
            margin: 0 0 10px;
        }

        .tab-content h3 {
            font-size: 18px;
        }
    }
}

.recit_tab_3 {
    .nav-tabs::before {
        content: "";
        border: 2px solid $primary;
        position: absolute;
        //left: 31%;
        top: 44%;
        width: 100%;
        z-index: 1000;
    }

    .nav-tabs {
        padding: 10px 0;
        position: relative;
        border-bottom: 0 none;
        display: flex;
        justify-content: space-between;

        .nav-item {
            min-width: 100 px;
            margin: 0 20px;
            z-index: 1001;

        }

        .nav-link:last-child:after {
            content: "";
            border: 0 none;
        }

        .nav-link {
            position: relative;
            outline: none;
            color: black;
            margin-right: 0;
            padding: 20px 30px;
            background: $secondary;
            text-transform: uppercase;
        }

        .nav-link.active {

            color: #fff;
            background: $primary;
            text-transform: uppercase;
            border: none;
        }

        .nav-link.active:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border-top: 14px solid $primary;
            border-right: 14px solid transparent;
            border-left: 14px solid transparent;
            margin-left: -13px;
        }
    }

    .tab-content {
        min-height: 400px;
        color: $primary;
        border: 4px solid $primary;
        margin-top: 5px;
        line-height: 26px;
        padding: 20px 30px;
    }

    @media only screen and (max-width: 1280px) {
        .nav-tabs .nav-item .nav-link {
            padding: 15px 11px;
        }

        .nav-tabs .nav-item:after {
            right: -45%;
            width: 45%;
        }
    }

    @media only screen and (max-width: 500px) {
        .nav-tabs .nav-item {
            width: 100%;
            text-align: center;
            margin-bottom: 2px;
        }

        .nav-tabs .nav-item:after,
        .nav-tabs .nav-item.active .nav-link:before {
            content: "";
            border: 0 none;
        }
    }

}

.recit_tab_0 {
    .nav-tabs {
        //overflow: auto;
        //margin: 0px;
        // padding: 0 !important;
        //clear: none;
        background-color: #d3e3ed;
        width: 100%;
        /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
        //border-right: solid 10px #fff;
    }

    .nav-item {
        //position: relative;
        // top: 0px!important;
        //float: left !important;
        display: flex;
        align-items: center;
        /*justify-content: center!important;*/
        /*align-self: center!important;*/
        //height: 50px !important;
        width: auto;
        max-width: 25%;
        min-width: 20%;
        // text-align: center ;
        padding: 0px 0px;
        margin: 0px 0px 0px 0px;
        font: bold 18px $subheadings-font-family;
        /*  background-color: #d3e3ed !important;
     list-style: none !important;
     border-left: none !important;
     border-bottom: none !important;
     border-top: none!important;*/
        border-right: solid 10px #fff;
        -moz-user-select: none;
        -khtml-user-select: none;
        cursor: pointer;
        @include vendor('border-top-right-radius', '0px !important');
        @include vendor('border-top-left-radius', '0px !important');
        color: #FFF;
        outline: none;
    }

    .nav-link {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 0px;
        margin: 0px 0px 0px 0px;

        -moz-user-select: none;
        -khtml-user-select: none;
        cursor: pointer;
        @include vendor('border-top-right-radius', '0px !important');
        @include vendor('border-top-left-radius', '0px !important');

    }

    .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:hover {
        color: #ffffff;
        font-style: normal;
        //border: 2px solid $secondary;
    }

    .nav-tabs .nav-link.active {
        background: $primary;
    }

    @media screen and (max-width: 768px) {
        .nav-item {
            width: 50%;
        }

        .nav-item:nth-child(even) {
            border-right: none;
        }
    }

    @media screen and (max-width: 480px) {
        .nav-item {
            width: 100%;
            border-right: none;
        }
    }

    .nav-item:last-child {
        border-right: none;
    }

    .nav-link::before {
        counter-increment: arts-tab-counter;
        content: counter(arts-tab-counter, upper-latin);
        /*display: block;*/
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        /*background: url("icon.jpg") no-repeat;*/
        width: 50px;
        height: 50px;
        background-color: #afcadb;
        float: left;
        margin: 0 10px 0 0;
    }

    .nav-link.active::before,
    .nav-link:hover::before {
        /* counter-increment: arts-tab-counter;
     content:  counter(arts-tab-counter, upper-latin) ;
     display: block;*/
        background-color: #005896;
        /*background: url("icon.jpg") no-repeat;
       width: 50px;
       height: 50px;
       float: left;
       margin: 0 10px 0 0 ;*/
    }

}