/**************************************
 * FONTS
 *************************************/
$font-family-sans-serif: 'Ubuntu', sans-serif !default;
$subheadings-font-family:'Viga', sans-serif;
$headings-font-family:'Viga', sans-serif;
$figuretexte: 'Times New Roman', serif;

/**************************************
 * COLORS
 *************************************/
$enable-gradients: true;
$primary:#0069bf;
$secondary:#faa22a;
$secondarypale:#0082C6;
$success:#b7d233;
$danger:#d0181e;
$info:#fbb140;
$warning:#384f5c;
$light:#f4f4f6;
$dark:#373a3c;
$white:#ffffff;
$black:#000;

$color1:#000;
$color2:#000;
$color3:#000;
$color4:#000;
$color5:#000;

$brand-primary: $primary;
$body-color: #373a3c;

$theme_color1:#007a76;
$theme_color2:#f6b100;
$theme_color3:#ef783b;
$theme_color4:#68b459;
$theme_color5:#494755;

/**************************************
 * GENERAL
 *************************************/
$btn-radius: 30px;

$navbar-header-color: #fff !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: $primary !default;
$headings-font-family-font-size: 2.34375rem;
$header-hight: 150px;

$body-bg: #eef5f9 !default;

$card-border-radius: 0 !default;
$card-border-color: #d7dfe3 !default;

//$navbar-height: 50px !default;
$navbar-bg: $primary !default;
$navbar-bg-hover: $secondary !default;
$navbar-separator: $secondary !default;

$page-max-width: 1500px;
$top-navbar-height: 55px;

$calendarEventCategoryColor: #fc4b6c !default;
$calendarEventCourseColor: #7460ee !default;
$calendarEventGlobalColor: #1e88e5 !default;
$calendarEventGroupColor: #ffb22b !default;
$calendarEventUserColor: #26c6da !default;

$m-login-padding: 10px;
$m-login-boxheight: 350px;
$m-card-padding: 1.25rem;
$m-moodle-color: #f98012 !default;
$m-facebook-color: #3b5998 !default;
$m-twitter-color: #55acee !default;
$m-youtube-color: #cc181e !default;
$m-googleplus-color: #d34836 !default;
$m-linkedin-color: #007bb5 !default;
$m-instagram-color: #8a3ab9 !default;

$carousel-control-color: $secondary !default;
$carousel-control-prev-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'$secondary\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E" !default;
$carousel-control-next-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'$secondary\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E" !default;

