// FONTS
$font-family-text: 'Ubuntu', sans-serif !default;
$font-family-text-size: .937rem !default;
$headings-font-family:'Viga', sans-serif;
$headings-font-size: 2.34375rem;

// COLORS
$primary:#0069bf;
$primaryBold: #022f53;
$secondary:#e69321;
$secondaryBold: #8a5205;
$color1:#434343;
$color2:#FFFFFF;
$body-color: #373a3c;
$nav-color: #343a40;
$body-bg: #eef5f9 !default;

// GENERAL
$course-banner-max-height: 150px;
$card-border-radius: 0 !default;
$page-max-width: 1500px;
$top-navbar-height: 67px;

// NAV SECTIONS
$tt-menu-bgcolor-m1: #EAC167;
$tt-menu-color-m1: #606972;
$tt-menu-color-m5: #ffffff;
$tt-menu-active-color: #fff;
$tt-menu-inactive-color: #606972;
$tt-menu-hover-color: #606972;
$tt-menu-bgcolor-m5: #0069bf;