{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_recit/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer1">
<hr>
  <div class="container-fluid">
    <div>
        <div class="col-md-5 contact1">
        <ul>
                {{#website}}<li><i class="icon-globe"></i>{{{website}}}</li>{{/website}}
                {{#mobile}}<li><i class="icon-phone"></i>{{{mobile}}}</li>{{/mobile}}
                {{#mail}}<li><i class="icon-envelope"></i>{{{mail}}}</li>{{/mail}}
            </ul>
        <img src="https://recitfad.ca/depot/praesentia_w.png" alt="Environnement numérique d'apprentissage PRAESENTIA face" height="" width="">
        <!--<img src="https://recitfad.ca/depot/snfad_w.png" alt="Logo RÉCIT SN FAD face" height="" width="">-->
	      </div>
  
		
        <div class="col-md-3 ">
          <ul>
            {{#email}}
                <li>
                  <a href="{{{email}}}" target="_blank" class="email">
                    <i class="email"></i>
                  </a>
                </li>
              {{/email}}

              {{#facebook}}
                <li>
                  <a href="{{{facebook}}}" target="_blank" class="facebook">
                    <i class="icon-social-facebook"></i>
                  </a>
                </li>
              {{/facebook}}

              {{#twitter}}
                <li>
                  <a href="{{{twitter}}}" target="_blank" class="twitter">
                    <i class="icon-social-twitter"></i>
                  </a>
                </li>
              {{/twitter}}

              {{#googleplus}}
                <li>
                  <a href="{{{googleplus}}}" target="_blank" class="googleplus">
                    <i class="icon-social-gplus"></i>
                  </a>
                </li>
              {{/googleplus}}

              {{#linkedin}}
                <li>
                  <a href="{{{linkedin}}}" target="_blank" class="linkedin">
                    <i class="icon-social-linkedin"></i>
                  </a>
                </li>
              {{/linkedin}}

              {{#youtube}}
                <li>
                  <a href="{{{youtube}}}" target="_blank" class="youtube">
                    <i class="icon-social-youtube"></i>
                  </a>
                </li>
              {{/youtube}}

              {{#instagram}}
                <li>
                  <a href="{{{instagram}}}" target="_blank" class="instagram">
                    <i class="icon-social-instagram"></i>
                  </a>
                </li>
              {{/instagram}}
          </ul>

		 </div>
          
        </div>
		 <div class="col-md-4 contact">
		
    </div>
  </div>
</div>


{{{ output.standard_end_of_body_html }}}
