{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_recit/navbar-top

    Page header template

    Example context (json): {}
}}

<nav id="recitNavbarTop" class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg moodle-has-zindex"> 
    <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.get_logo }}has-logo{{/ output.get_logo }}" title="{{usermenu.home.title}}">
        <span class="logo d-sm-inline">
        {{#output.get_logo}}
            <img src="{{output.get_logo}}" alt="{{sitename}}" >            
        {{/output.get_logo}}
        {{^output.get_logo}}
            <img src="{{{ config.wwwroot }}}/theme/recit/pix/recit-logo.png" alt="{{sitename}}">
        {{/output.get_logo}}
        </span>
    </a>

    <ul class="navbar-nav show-onmobile mr-auto ml-4">  
        {{#settingsmenu.coursehome}}      
            <li class="nav-item">
                <a class="nav-link" href="{{settingsmenu.coursehome.url}}" title="{{settingsmenu.coursehome.title}}"><span style="color: #faa22a;"><i class="fa {{settingsmenu.coursehome.pix}}"></i></a>
            </li></span>
        {{/settingsmenu.coursehome}}
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuItems" aria-controls="navbarMenuItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {{#isloggedin}}            
        <div class="collapse navbar-collapse" id="navbarMenuItems">
            <a href="{{{ config.wwwroot }}}" class="navbar-brand" style='margin-right: 1rem; '>
                <span class="site-name d-md-inline">{{{ sitename }}}</span>
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">  
                {{#settingsmenu.coursehome}}      
                    <li class="nav-item">
                        <a class="nav-link" href="{{settingsmenu.coursehome.url}}" title="{{settingsmenu.coursehome.title}}"><span style="color: #faa22a;"><i class="fa {{settingsmenu.coursehome.pix}}"></i><span class="show-onmobile"> {{settingsmenu.coursehome.title}}</span></a>
                    </li></span>
                {{/settingsmenu.coursehome}}
               
                {{#settingsmenu.courseadmin}}      
                    <li class="nav-item">
                        <a class="nav-link" href="{{settingsmenu.courseadmin.url}}" title="{{settingsmenu.courseadmin.title}}"><i class="fa {{settingsmenu.courseadmin.pix}}"></i><span class="show-onmobile"> {{settingsmenu.courseadmin.title}}</span></a>
                    </li>
                {{/settingsmenu.courseadmin}}

                {{#settingsmenu.turneditingonoff}}
                    {{#modeedition}}
                        <li class="nav-item">
                            <a id="btnEditionMode" class="nav-link" href="{{settingsmenu.turneditingonoff.url}}" title="{{settingsmenu.turneditingonoff.title}}"  style='color:#d9534f'><i class="fa {{settingsmenu.turneditingonoff.pix}}"></i><span class="show-onmobile"> {{settingsmenu.turneditingonoff.title}}</span></a>
                        </li>
                    {{/modeedition}}
                    {{^modeedition}}
                        <li class="nav-item">
                            <a id="btnEditionMode" class="nav-link" href="{{settingsmenu.turneditingonoff.url}}" title="{{settingsmenu.turneditingonoff.title}}"><i class="fa {{settingsmenu.turneditingonoff.pix}}"></i><span class="show-onmobile"> {{settingsmenu.turneditingonoff.title}}</span></a>
                        </li>                        
                    {{/modeedition}}
                {{/settingsmenu.turneditingonoff}} 

                {{#usermenu.contentbank.url}}      
                    <li class="nav-item">
                        <a class="nav-link" href="{{usermenu.contentbank.url}}" title="{{usermenu.contentbank.title}}"><i class="fa {{usermenu.contentbank.pix}}"></i><span class="show-onmobile"> {{usermenu.contentbank.title}}</span></a>
                    </li>
                {{/usermenu.contentbank.url}}

                {{#settingsmenu.users}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{settingsmenu.users.url}}" title="{{settingsmenu.users.title}}"><i class="fa {{settingsmenu.users.pix}}"></i><span class="show-onmobile"> {{settingsmenu.users.title}}</span></a>
                    </li>
                {{/settingsmenu.users}}
                {{#settingsmenu.paramsact}}
                    <li class="nav-item-divider"></li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{{settingsmenu.paramsact.url}}" title="{{settingsmenu.paramsact.title}}"><i class="fa {{settingsmenu.paramsact.pix}}"></i><span class="show-onmobile"> {{settingsmenu.paramsact.title}}</span></a>
                    </li>
                {{/settingsmenu.paramsact}}                
            </ul>
            <ul class="navbar-nav my-2 my-lg-0" >    
                <li class="nav-item" style='display: none;'>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{usermenu.mymoodle.url}}" title="{{usermenu.mymoodle.title}}"><i class="fa {{usermenu.mymoodle.pix}}"></i><span class="show-onmobile"> {{usermenu.mymoodle.title}}</span></a>
                </li>       

                {{#message_and_notification}}
                    {{{message_and_notification}}}
                {{/message_and_notification}}

                {{#is_siteadmin}}       
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Administration">
                            <i class="fa fa-wrench"></i> 
                            <span class="show-onmobile"> Administration</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                            <a class="dropdown-item" href="{{usermenu.sitesettings.url}}"><i class="fa {{usermenu.sitesettings.pix}}"></i> {{usermenu.sitesettings.title}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{extra.purgeallcaches.url}}" target="_blank"><i class="fa {{extra.purgeallcaches.pix}}"></i> {{extra.purgeallcaches.title}}</a>
                            <a class="dropdown-item" href="{{extra.purgethemecache.url}}" target="_blank"><i class="fa {{extra.purgethemecache.pix}}"></i> {{extra.purgethemecache.title}}</a>
                            {{#extra.contentmanagement.url}}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{extra.contentmanagement.url}}"><i class="fa {{extra.contentmanagement.pix}}"></i> {{extra.contentmanagement.title}}</a>
                            {{/extra.contentmanagement.url}}
                        </div>
                    </li>
                {{/is_siteadmin}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{usermenu.user.title}}">
                        {{{usermenu.user.pix}}}
                        <span class="show-onmobile"> {{usermenu.user.title}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">                    
                        {{#usermenu.profile.url}}
                            <a class="dropdown-item" href="{{usermenu.profile.url}}" title="{{usermenu.profile.title}}"><i class="fa {{usermenu.profile.pix}}"></i> {{usermenu.user.title}} ({{usermenu.profile.title}})</a>
                            {{#usermenu.user.role}}
                                <a class="dropdown-item disabled" href="#" title="{{usermenu.user.role}}">Role: {{usermenu.user.role}}</a>
                            {{/usermenu.user.role}}
                        {{/usermenu.profile.url}}  
                                                
                        {{#usermenu.preferences.url}}
                            <a class="dropdown-item" href="{{usermenu.preferences.url}}" title="{{usermenu.preferences.title}}"><i class="fa {{usermenu.preferences.pix}}"></i> {{usermenu.preferences.title}}</a>
                        {{/usermenu.preferences.url}}
                        {{#usermenu.grades.url}}
                            <a class="dropdown-item" href="{{usermenu.grades.url}}" title="{{usermenu.grades.title}}"><i class="fa {{usermenu.grades.pix}}"></i> {{usermenu.grades.title}}</a>
                        {{/usermenu.grades.url}}
                        {{#usermenu.home.url}}
                            <a class="dropdown-item" href="{{usermenu.home.url}}" title="{{usermenu.home.title}}"><i class="fa {{usermenu.home.pix}}"></i> {{usermenu.home.title}}</a>  
                        {{/usermenu.home.url}}
                        
                        <div class="dropdown-divider"></div>
                        {{#usermenu.participants.url}}
                            <a class="dropdown-item" href="{{usermenu.participants.url}}"><i class="fa {{usermenu.participants.pix}}"></i> {{usermenu.participants.title}}</a>
                        {{/usermenu.participants.url}}
                        {{#usermenu.badgesview.url}}
                            <a class="dropdown-item" href="{{usermenu.badgesview.url}}"><i class="fa {{usermenu.badgesview.pix}}"></i> {{usermenu.badgesview.title}}</a>
                        {{/usermenu.badgesview.url}}
                        {{#usermenu.competencies.url}}
                            <a class="dropdown-item" href="{{usermenu.competencies.url}}"><i class="fa {{usermenu.competencies.pix}}"></i> {{usermenu.competencies.title}}</a>
                        {{/usermenu.competencies.url}}
                        {{#usermenu.calendar.url}}
                            <a class="dropdown-item" href="{{usermenu.calendar.url}}"><i class="fa {{usermenu.calendar.pix}}"></i> {{usermenu.calendar.title}}</a>
                        {{/usermenu.calendar.url}}
                        {{#usermenu.privatefiles.url}}
                            <a class="dropdown-item" href="{{usermenu.privatefiles.url}}"><i class="fa {{usermenu.privatefiles.pix}}"></i> {{usermenu.privatefiles.title}}</a>
                        {{/usermenu.privatefiles.url}}

                        {{#usermenu.switchroleto.url}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{usermenu.switchroleto.url}}"><i class="fa {{usermenu.switchroleto.pix}}"></i> {{usermenu.switchroleto.title}}</a>
                        {{/usermenu.switchroleto.url}}

                        {{#usermenu.switchrolereturn.url}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{usermenu.switchrolereturn.url}}"><i class="fa {{usermenu.switchrolereturn.pix}}"></i> {{usermenu.switchrolereturn.title}}</a>
                        {{/usermenu.switchrolereturn.url}}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:M.recit.course.theme.ThemeRecit.instance.ctrlFullScreen(event)"  title="Plein écran"><i class="fa fa-compress"></i> Plein écran</a>

                        {{#usermenu.logout.url}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{usermenu.logout.url}}" title="{{usermenu.logout.title}}"><i class="fa {{usermenu.logout.pix}}"></i> {{usermenu.logout.title}}</a>
                        {{/usermenu.logout.url}}
                    </div>
                </li>
            </ul>
        </div>
    {{/isloggedin}}
    {{^isloggedin}}
        <div class="collapse navbar-collapse" id="navbarMenuItems">
            <a href="{{{ config.wwwroot }}}" class="navbar-brand" style='margin-right: 1rem;'>
                <span class="site-name d-md-inline">{{{ sitename }}}</span>
            </a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {{{ output.custom_menu }}}
            </ul>
            <ul class="navbar-nav my-2 my-lg-0" >  
                <li class="nav-item">
                    <a class="nav-link" href="{{{ config.wwwroot }}}/login/index.php" title="Connexion"><i class="fa fa-sign-in"></i> Connexion</a>
                </li>
            </ul>
        </div>
    {{/isloggedin}}
</nav>

