.cb-toolbar-container .dropdown-scrollable {
  max-height: 190px;
  overflow-y: auto;
}
.editor_atto_content_wrap {
    background-color: white;
    color: #333; }
  
  .editor_atto_content {
    padding: 4px;
    resize: vertical;
    overflow: auto; }
  
  .editor_atto_content_wrap,
  .editor_atto + textarea {
    width: 100%;
    padding: 0; }
  
  .editor_atto + textarea {
    border-radius: 0;
    resize: vertical;
    margin-top: -1px; }
  
  div.editor_atto_toolbar {
    display: block;
    background: #f2f2f2;
    min-height: 35px;
    border: 1px solid #8f959e;
    width: 100%;
    padding: 0 0 9px 0; }
  
  div.editor_atto_toolbar button {
    padding: 4px 9px;
    background: none;
    border: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer; }
  
  div.editor_atto_toolbar button + button {
    border-left: 1px solid #ccc; }
  
  div.editor_atto_toolbar button[disabled] {
    opacity: .45;
    background: none;
    cursor: default; }
  
  .editor_atto_toolbar button:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, #dfdfdf 100%);
    background-color: #ebebeb; }
  
  .editor_atto_toolbar button:active,
  .editor_atto_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center, #fff 40%, #dfdfdf 100%);
    background-color: #dfdfdf; }
  
  /* Make firefox button sizes match other browsers */
  div.editor_atto_toolbar button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  
  div.editor_atto_toolbar button .icon {
    padding: 0;
    margin: 2px 0; }
  
  div.editor_atto_toolbar div.atto_group {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 9px 0 0 9px;
    background: #fff; }
  
  .editor_atto_content img {
    resize: both;
    overflow: auto; }
  
  .atto_hasmenu {
    /* IE8 places the images on top of each other if that is not set. */
    white-space: nowrap; }
  
  .atto_menuentry .icon {
    width: 16px;
    height: 16px; }
  
  .atto_menuentry {
    clear: left; }
  
  .atto_menuentry h1,
  .atto_menuentry h2,
  .atto_menuentry p {
    margin: 4px; }
  
  /*.atto_form label.sameline {
      display: inline-block;
      min-width: 10em;
  }*/
  .atto_form textarea.fullwidth,
  .atto_form input.fullwidth {
    width: 100%; }
  
  .atto_form {
    padding: 0.5rem; }
  
  /*.atto_form label {
      display: block;
      margin: 0 0 5px 0;
  }*/
  .atto_control {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: none;
    cursor: pointer; }
  
  .atto_control .icon {
    background-color: white; }
  
  div.editor_atto_content:focus .atto_control,
  div.editor_atto_content:hover .atto_control {
    display: block; }
  
  .editor_atto_menu.yui3-menu-hidden {
    display: none; }
  
  /* Get broken images back in firefox */
  .editor_atto_content img:-moz-broken {
    -moz-force-broken-image-icon: 1;
    min-width: 24px;
    min-height: 24px; }
  
  /* Atto menu styling */
  .moodle-dialogue-base .editor_atto_menu .moodle-dialogue-content .moodle-dialogue-bd {
    padding: 0;
    z-index: 1000; }
  
  .editor_atto_menu .dropdown-menu > li > a {
    margin: 3px 14px; }
  
  .editor_atto_menu .open ul.dropdown-menu {
    padding-top: 5px;
    padding-bottom: 5px; }
  
  .editor_atto_wrap {
    position: relative; }
  
  /*rtl:ignore*/
  .editor_atto_wrap textarea {
    direction: ltr; }
  
  .editor_atto_notification .atto_info,
  .editor_atto_notification .atto_warning {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; }
  
  .editor_atto_notification .atto_info {
    background-color: #f2f2f2; }
  
  .editor_atto_notification .atto_warning {
    background-color: #ffd700; }
  
  .editor_atto_toolbar,
  .editor_atto_content_wrap,
  .editor_atto + textarea {
    box-sizing: border-box; }
  
  .editor_atto_content.form-control {
    width: 100%;
    border-top: 0; }
  
  /** Atto fields do not have form-control because that would break the layout of the editor.
      So they need these extra styles to highlight the editor when there is a validation error. */
  .has-danger .editor_atto_content.form-control .invalid-feedback,
  .has-danger .editor_atto_content.form-control-danger .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d43f3a; }
  
  .has-danger .editor_atto_content.form-control .invalid-tooltip,
  .has-danger .editor_atto_content.form-control-danger .invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(212, 63, 58, 0.9); }
  
  .was-validated .has-danger .editor_atto_content.form-control:invalid ~ .invalid-feedback,
  .was-validated .has-danger .editor_atto_content.form-control:invalid ~ .invalid-tooltip, .has-danger .editor_atto_content.form-control.is-invalid ~ .invalid-feedback,
  .has-danger .editor_atto_content.form-control.is-invalid ~ .invalid-tooltip, .was-validated
  .has-danger .editor_atto_content.form-control-danger:invalid ~ .invalid-feedback,
  .was-validated
  .has-danger .editor_atto_content.form-control-danger:invalid ~ .invalid-tooltip,
  .has-danger .editor_atto_content.form-control-danger.is-invalid ~ .invalid-feedback,
  .has-danger .editor_atto_content.form-control-danger.is-invalid ~ .invalid-tooltip {
    display: block; }
  
  .was-validated .has-danger .editor_atto_content.form-control .form-control:invalid, .has-danger .editor_atto_content.form-control .form-control.is-invalid, .was-validated
  .has-danger .editor_atto_content.form-control-danger .form-control:invalid,
  .has-danger .editor_atto_content.form-control-danger .form-control.is-invalid {
    border-color: #d43f3a;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23d43f3a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23d43f3a' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
    .was-validated .has-danger .editor_atto_content.form-control .form-control:invalid:focus, .has-danger .editor_atto_content.form-control .form-control.is-invalid:focus, .was-validated
    .has-danger .editor_atto_content.form-control-danger .form-control:invalid:focus,
    .has-danger .editor_atto_content.form-control-danger .form-control.is-invalid:focus {
      border-color: #d43f3a;
      box-shadow: 0 0 0 0.2rem rgba(212, 63, 58, 0.25); }
  
  .was-validated .has-danger .editor_atto_content.form-control textarea.form-control:invalid, .has-danger .editor_atto_content.form-control textarea.form-control.is-invalid, .was-validated
  .has-danger .editor_atto_content.form-control-danger textarea.form-control:invalid,
  .has-danger .editor_atto_content.form-control-danger textarea.form-control.is-invalid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem); }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-select:invalid, .has-danger .editor_atto_content.form-control .custom-select.is-invalid, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-select:invalid,
  .has-danger .editor_atto_content.form-control-danger .custom-select.is-invalid {
    border-color: #d43f3a;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23d43f3a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23d43f3a' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
    .was-validated .has-danger .editor_atto_content.form-control .custom-select:invalid:focus, .has-danger .editor_atto_content.form-control .custom-select.is-invalid:focus, .was-validated
    .has-danger .editor_atto_content.form-control-danger .custom-select:invalid:focus,
    .has-danger .editor_atto_content.form-control-danger .custom-select.is-invalid:focus {
      border-color: #d43f3a;
      box-shadow: 0 0 0 0.2rem rgba(212, 63, 58, 0.25); }
  
  .was-validated .has-danger .editor_atto_content.form-control .form-check-input:invalid ~ .form-check-label, .has-danger .editor_atto_content.form-control .form-check-input.is-invalid ~ .form-check-label, .was-validated
  .has-danger .editor_atto_content.form-control-danger .form-check-input:invalid ~ .form-check-label,
  .has-danger .editor_atto_content.form-control-danger .form-check-input.is-invalid ~ .form-check-label {
    color: #d43f3a; }
  
  .was-validated .has-danger .editor_atto_content.form-control .form-check-input:invalid ~ .invalid-feedback,
  .was-validated .has-danger .editor_atto_content.form-control .form-check-input:invalid ~ .invalid-tooltip, .has-danger .editor_atto_content.form-control .form-check-input.is-invalid ~ .invalid-feedback,
  .has-danger .editor_atto_content.form-control .form-check-input.is-invalid ~ .invalid-tooltip, .was-validated
  .has-danger .editor_atto_content.form-control-danger .form-check-input:invalid ~ .invalid-feedback,
  .was-validated
  .has-danger .editor_atto_content.form-control-danger .form-check-input:invalid ~ .invalid-tooltip,
  .has-danger .editor_atto_content.form-control-danger .form-check-input.is-invalid ~ .invalid-feedback,
  .has-danger .editor_atto_content.form-control-danger .form-check-input.is-invalid ~ .invalid-tooltip {
    display: block; }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-control-input:invalid ~ .custom-control-label, .has-danger .editor_atto_content.form-control .custom-control-input.is-invalid ~ .custom-control-label, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-control-input:invalid ~ .custom-control-label,
  .has-danger .editor_atto_content.form-control-danger .custom-control-input.is-invalid ~ .custom-control-label {
    color: #d43f3a; }
    .was-validated .has-danger .editor_atto_content.form-control .custom-control-input:invalid ~ .custom-control-label::before, .has-danger .editor_atto_content.form-control .custom-control-input.is-invalid ~ .custom-control-label::before, .was-validated
    .has-danger .editor_atto_content.form-control-danger .custom-control-input:invalid ~ .custom-control-label::before,
    .has-danger .editor_atto_content.form-control-danger .custom-control-input.is-invalid ~ .custom-control-label::before {
      border-color: #d43f3a; }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-control-input:invalid:checked ~ .custom-control-label::before, .has-danger .editor_atto_content.form-control .custom-control-input.is-invalid:checked ~ .custom-control-label::before, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-control-input:invalid:checked ~ .custom-control-label::before,
  .has-danger .editor_atto_content.form-control-danger .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    border-color: #dd6864;
    background-color: #dd6864; }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-control-input:invalid:focus ~ .custom-control-label::before, .has-danger .editor_atto_content.form-control .custom-control-input.is-invalid:focus ~ .custom-control-label::before, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-control-input:invalid:focus ~ .custom-control-label::before,
  .has-danger .editor_atto_content.form-control-danger .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(212, 63, 58, 0.25); }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .has-danger .editor_atto_content.form-control .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before,
  .has-danger .editor_atto_content.form-control-danger .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #d43f3a; }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-file-input:invalid ~ .custom-file-label, .has-danger .editor_atto_content.form-control .custom-file-input.is-invalid ~ .custom-file-label, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-file-input:invalid ~ .custom-file-label,
  .has-danger .editor_atto_content.form-control-danger .custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #d43f3a; }
  
  .was-validated .has-danger .editor_atto_content.form-control .custom-file-input:invalid:focus ~ .custom-file-label, .has-danger .editor_atto_content.form-control .custom-file-input.is-invalid:focus ~ .custom-file-label, .was-validated
  .has-danger .editor_atto_content.form-control-danger .custom-file-input:invalid:focus ~ .custom-file-label,
  .has-danger .editor_atto_content.form-control-danger .custom-file-input.is-invalid:focus ~ .custom-file-label {
    border-color: #d43f3a;
    box-shadow: 0 0 0 0.2rem rgba(212, 63, 58, 0.25); }
  
  .open.atto_menu > .dropdown-menu {
    display: block; }
  
  div.editor_atto_toolbar button .icon {
    color: #495057; }


/****************************************************************/ 
.dashboard-card-deck .dashboard-card {
    margin-bottom: 0.5rem;
    flex-basis: auto;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0; }
    .dashboard-card-deck .dashboard-card .dashboard-card-img {
      height: 7rem;
      background-position: center;
      background-size: cover; }
    .dashboard-card-deck .dashboard-card .dashboard-card-footer {
      padding: 0.8rem; }
  
  @media (min-width: 576px) {
    .dashboard-card-deck.fixed-width-cards .dashboard-card {
      width: 300px;
      max-width: 100%; } }
  
  @media (min-width: 576px) {
    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(50% - 0.5rem); } }
  
  @media (min-width: 840px) {
    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(33.33% - 0.5rem); } }
  
  @media (min-width: 1100px) {
    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(25% - 0.5rem); } }
  
  @media (min-width: 1360px) {
    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(20% - 0.5rem); } }
  
  @media (min-width: 1200px) {
    #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(33.33% - 0.5rem); } }
  
  @media (min-width: 1470px) {
    #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(25% - 0.5rem); } }
  
  @media (min-width: 768px) {
    body.drawer-open-left .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(100% - 0.5rem); } }
  
  @media (min-width: 861px) {
    body.drawer-open-left .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(50% - 0.5rem); } }
  
  @media (min-width: 1122px) {
    body.drawer-open-left .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(33.33% - 0.5rem); } }
  
  @media (min-width: 1381px) {
    body.drawer-open-left .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(25% - 0.5rem); } }
  
  @media (min-width: 1200px) {
    body.drawer-open-left #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(100% - 0.5rem); } }
  
  @media (min-width: 1236px) {
    body.drawer-open-left #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(50% - 0.5rem); } }
  
  @media (min-width: 1497px) {
    body.drawer-open-left #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
      width: calc(33.33% - 0.5rem); } }
  
  @media (min-width: 1200px) {
    #block-region-side-pre .dashboard-card-deck:not(.fixed-width-cards) {
      margin-left: 0;
      margin-right: 0; }
      #block-region-side-pre .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(100% - 0.5rem) !important; } }


/* DRAWER MESSAGE-APP*/

.drawer .message-app {
    height: 100%; }
    .drawer .message-app .icon-back-in-app {
      display: none; }
    .drawer .message-app .icon-back-in-drawer {
      display: inherit; }
  
  .message-app {
    display: flex;
    flex-direction: column;
    background-color: #eff1f3; }
    .message-app .icon-back-in-drawer {
      display: none; }
    .message-app.main {
      min-height: 400px; }
    .message-app .header-container {
      flex-shrink: 0; }
    .message-app .overflow-y {
      overflow-y: auto; }
    @media (max-height: 320px) {
      .message-app .header-container [data-region="view-overview"]:not(.hidden) {
        display: flex;
        align-items: center; }
      .message-app .footer-container [data-region="view-overview"] {
        display: none; }
      .message-app .overflow-y {
        overflow-y: unset; } }
    .message-app .body-container {
      flex: 1;
      overflow: hidden; }
      .message-app .body-container > * {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto; }
    .message-app .footer-container {
      flex-shrink: 0; }
      .message-app .footer-container textarea {
        direction: ltr; }
    .message-app .contact-status {
      position: absolute;
      left: 39px;
      top: 39px;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
      .message-app .contact-status.online {
        border: 1px solid #fff;
        background-color: #398439; }
    .message-app .message p {
      margin: 0; }
    .message-app .clickable {
      cursor: pointer; }
      .message-app .clickable:hover {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)); }
    .message-app a,
    .message-app .btn-link {
      color: inherit; }
    .message-app .btn-link:hover, .message-app .btn-link:focus {
      background-color: rgba(0, 0, 0, 0.035);
      text-decoration: none; }
    .message-app .icon {
      margin-right: 0; }
    .message-app .overview-section-toggle .collapsed-icon-container {
      display: none; }
    .message-app .overview-section-toggle .expanded-icon-container {
      display: inline-block; }
    .message-app .overview-section-toggle.collapsed .collapsed-icon-container {
      display: inline-block; }
    .message-app .overview-section-toggle.collapsed .expanded-icon-container {
      display: none; }
    .message-app .btn.btn-link.btn-icon {
      height: 16px;
      width: 16px;
      padding: 0;
      border-radius: 50%;
      flex-shrink: 0; }
      .message-app .btn.btn-link.btn-icon:hover, .message-app .btn.btn-link.btn-icon:focus {
        background-color: #e9ecef; }
      .message-app .btn.btn-link.btn-icon.icon-size-0 {
        height: 20px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 20px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-1 {
        height: 24px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 24px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-2 {
        height: 28px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 28px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-3 {
        height: 36px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 36px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-4 {
        height: 44px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 44px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-5 {
        height: 52px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 52px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-6 {
        height: 60px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 60px !important;
        /* stylelint-disable-line declaration-no-important */ }
      .message-app .btn.btn-link.btn-icon.icon-size-7 {
        height: 68px !important;
        /* stylelint-disable-line declaration-no-important */
        width: 68px !important;
        /* stylelint-disable-line declaration-no-important */ }
    .message-app .view-overview-body .section {
      display: block; }
      .message-app .view-overview-body .section.expanded {
        display: flex; }
    .message-app .view-conversation .content-message-container img {
      max-width: 100%; }
    .message-app .list-group .list-group-item {
      border-left: 0;
      border-right: 0; }
      .message-app .list-group .list-group-item:first-child {
        border-top: 0; }
      .message-app .list-group .list-group-item:last-child {
        border-bottom: 0; }
    .message-app .last-message {
      min-height: 1.5rem; }
    .message-app .section .collapsing {
      overflow: hidden; }
    .message-app .message.send {
      background-color: #dee2e6;
      color: #212529; }
      .message-app .message.send .time {
        color: #212529; }
      .message-app .message.send .tail {
        right: 0;
        margin-right: -0.5rem;
        border-bottom-color: #dee2e6; }
    .message-app .message.received {
      background-color: #fff;
      color: #212529; }
      .message-app .message.received .time {
        color: #646669; }
      .message-app .message.received .tail {
        left: 0;
        margin-left: -0.5rem;
        border-bottom-color: #fff; }
    .message-app .message .tail {
      content: '';
      bottom: 0;
      width: 0;
      height: 0;
      border: 0.5rem solid transparent;
      position: relative; }
    .message-app .day {
      color: #212529; }
    .message-app .lazy-load-list {
      overflow-y: auto; }
    
#page-message-index #page-header {
    display: none; }
  
  #page-message-index #region-main {
    height: 100%;
    margin-top: 0; }
    #page-message-index #region-main .conversationcontainer {
      max-height: calc(100vh - 50px);
      overflow: auto; }
    #page-message-index #region-main div[role="main"] {
      height: 100%; }
      #page-message-index #region-main div[role="main"] #maincontent {
        margin-top: -1px; }
      #page-message-index #region-main div[role="main"] .message-app.main {
        height: 100%; }
  
  .dir-rtl .message-drawer {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08); }
  
  .message-app .emoji-picker-container {
    position: absolute;
    top: -5px;
    right: 5px;
    transform: translateY(-100%); }
    .message-app .emoji-picker-container .emoji-picker .picker-row .emoji-button {
      height: 40px;
      width: 40px; }
    @media (max-width: 575.98px) {
      .message-app .emoji-picker-container {
        right: -0.5rem; } }
  
  @media (max-height: 495px) {
    .message-app .emoji-picker-container {
      position: fixed;
      top: 0;
      transform: none; } }
  
  .message-app .emoji-auto-complete-container {
    overflow: auto;
    max-height: 90px;
    transition: max-height .15s ease-in-out;
    visibility: visible; }
    .message-app .emoji-auto-complete-container.hidden {
      display: block;
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: max-height .15s ease-in-out, visibility 0s linear .15s, overflow 0s linear .15s; }
  
/* MODAL DIALOG */

.aabtn.focus, .aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.atto_link_button.focus,
.atto_link_button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-item.focus,
a.dropdown-item:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus {
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgba(17, 119, 209, 0.75); */}

.aabtn:focus:hover,
.btn-link:focus:hover,
.nav-link:focus:hover,
.atto_link_button:focus:hover,
[role="button"]:focus:hover,
.list-group-item-action:focus:hover,
input[type="checkbox"]:focus:hover,
input[type="radio"]:focus:hover,
input[type="file"]:focus:hover,
input[type="image"]:focus:hover,
.sr-only-focusable:focus:hover,
a.dropdown-item:focus:hover,
a.dropdown-toggle:focus:hover,
.modal-dialog[tabindex="0"]:focus:hover,
.moodle-dialogue-base .closebutton:focus:hover,
button.close:focus:hover {
  text-decoration: none; }

  
.moodle-dialogue-base .closebutton {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    position: relative;
    background-color: transparent;
    border: 0;
    background-image: none;
    box-shadow: none;
    opacity: 0.7; }
    .moodle-dialogue-base .closebutton:hover, .moodle-dialogue-base .closebutton:active {
      opacity: 1; }
    .moodle-dialogue-base .closebutton::after {
      content: "×"; }


.moodle-dialogue-base .closebutton {
padding: 1rem 1rem;
margin: -1rem -1rem -1rem auto;
position: relative;
background-color: transparent;
border: 0;
background-image: none;
box-shadow: none;
opacity: 0.7; }
.moodle-dialogue-base .closebutton:hover, .moodle-dialogue-base .closebutton:active {
opacity: 1; }
.moodle-dialogue-base .closebutton::after {
content: "×"; }

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
    display: flex;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6; }

/* Puces non désirées dans le thème */
.course-content ul.topics, .course-content ul.weeks {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Patch pour ajouter ... (trois petits points) lorsque la description de la question est trop grande */
#page-mod-quiz-edit ul.slots .activityinstance>a {
    display: flex;
    max-width: 100%;
    align-items: center;
    text-indent: 0;
    padding-left: 0;
}