{{>theme_recit2/recit/head}}

<body {{{ bodyattributes }}}>
<div class="mainpage">
<div class="maincontent">
{{>theme_recit2/recit/navbar_top}}
{{>theme_recit2/recit/timeout_modal}}

<div id="page-wrapper">

{{{ output.standard_top_of_body_html }}}