{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#section_top_nav}}   
    <div class="navsections">
        <nav class='menuM1' id='nav-sections' data-status='close'>                    
            <div class='background-menu-mobile'></div>
            <ul class='menu-level1'>
                <li class='btn-menu-responsive'>
                    <button class='btn btn-outline-light btn-sm' data-btn='open'
                        onclick='M.recit.theme.recit2.Ctrl.instance.navSections.ctrlOpeningMenuResponsive(event)'><i class='fa fa-bars'></i>
                    </button>
                    <div class='section-title'></div>
                    <div class='sous-section-title'></div>
                    <button class='btn btn-outline-light btn-sm' data-btn='close'
                        onclick='M.recit.theme.recit2.Ctrl.instance.navSections.ctrlOpeningMenuResponsive(event)'><i class='fa fa-times'></i>
                    </button>
                </li>

                {{#sections}}
                    <li class='menu-item' data-submenu='0'>
                        <div class='menu-item-title'>
                            <div class='arrow'></div>
                            <a class='menu-item-desc' href='{{url}}' title='{{title}}'>{{{desc}}}</a>
                            {{#hasSubSections}}
                                <button class='btn btn-sm btn-outline-light btn-expand-sub-menu' 
                                    onclick="M.recit.theme.recit2.Ctrl.instance.navSections.ctrlOpeningSubMenuResponsive(event, '{{sectionId}}')"><i class='fa fa-plus'></i></button>
                            {{/hasSubSections}}
                        </div>
                        {{#hasSubSections}}
                            <ul class="menu-level2" data-parent-section='{{sectionId}}' data-status='closed'>
                            {{#subSections}}
                                <li class='menu-item' data-submenu='1'>
                                    <div class='menu-item-title'>
                                        <div class='arrow'></div>
                                        <a class='menu-item-desc' href='{{url}}' title='{{title}}'>{{{desc}}}</a>
                                    </div>
                                </li>
                                <li></li>    
                            {{/subSections}}
                            </ul>
                        {{/hasSubSections}}
                    </li>
                    <li></li>
                {{/sections}}
            </ul>
        </nav>
    </div>
{{/section_top_nav}}