{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class='menuM5-scrollhelper'><!-- needed to detect when to stick the menu --></div>
<nav class='navbar navbar-dark navbar-expand-lg menuM5' id='nav-sections'>
    <div class="menuM5-inner">
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#menuM5-collapse'
            aria-controls='menuM5-collapse' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <button class='navbar-toggler-desktop' type='button' data-target='#menuM5-collapse'
            aria-controls='menuM5-collapse' aria-expanded='false' aria-label='Toggle navigation'>
       <i class="icon fa fa-times fa-fw hideif-collapsed" aria-hidden="true"></i>
        <i class="icon fa fa-list fa-fw hideif-notcollapsed" aria-hidden="true"></i>
    </button>
    <div class='collapse navbar-collapse' id='menuM5-collapse'>
        <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
            {{#section_top_nav.sections}}
                {{^hasSubSections}}
                    <li class='nav-item menu-item'>
                        <a class='nav-link' href='{{url}}' title='{{title}}' data-target='#menuM5-collapse'>{{{desc}}}</a>
                    </li>
                {{/hasSubSections}}

                {{#hasSubSections}}
                    <li class='nav-item dropdown menu-item'>
                        <a class='nav-link dropdown-toggle' data-toggle='dropdown' href='{{url}}' title='{{title}}' data-target='{{sectionId}}dropdownmenu'
                            aria-haspopup='true' aria-expanded='false' id='{{sectionId}}DropdownMenuLink'>{{{desc}}}</a>
                        <ul class='dropdown-menu' aria-labelledby='{{sectionId}}DropdownMenuLink' id='{{sectionId}}dropdownmenu'>
                            {{#subSections}}
                                <li>
                                    <a class='dropdown-item' href='{{url}}' title='{{title}}' data-target='#menuM5-collapse'>{{{desc}}}</a>
                                </li>
                            {{/subSections}}    
                        </ul>
                    </li>
                {{/hasSubSections}}
            {{/section_top_nav.sections}}
        </ul>
    </div>
    </div>
</nav>